---
import MainHeader from "../../components/Tags/MainHeader.astro";
import Paragraph from "../../components/Tags/Paragraph.astro";
import Section from "../../components/Tags/Section.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Contact :: AVSS2023">
  <MainHeader metaTitle="General" title="Contact" />
  <Section>
    <Paragraph>
      If you have enquiries about the conference, please contact the following
      conference chairs:
    </Paragraph>

    <h3 class="pt-6 pb-2 text-2xl font-bold hover:underline">
      <a href="/organization/#jenq-neng-hwang">Jenq-Neng Hwang</a>
    </h3>
    <a href="mailto:hwang@uw.edu" class="fancy">hwang@uw.edu</a>
    <h3 class="pt-6 pb-2 text-2xl font-bold hover:underline">
      <a href="/organization/#kwang-ju-kim">Kwang-Ju Kim</a>
    </h3>
    <a href="mailto:kwangju@etri.re.kr" class="fancy">kwangju@etri.re.kr</a>
  </Section>
</Layout>
