---
import Post from "../../components/Post.astro";
import MainHeader from "../../components/Tags/MainHeader.astro";
import Section from "../../components/Tags/Section.astro";
import Layout from "../../layouts/Layout.astro";

export const news = [
  {
    title: "Submission Deadline Extended",
    date: "June 11, 2023",
    content:
      "Responding to extensive requests, the paper submission deadline for IEEE AVSS 2023 is now extended to 28th June, 2023 AOE. This is the final, non-extendable deadline.",
  },
];
---

<Layout title="News :: AVSS2023">
  <MainHeader metaTitle="General" title="News" />
  <Section>
    <div class="divide-y-2">
      {news.map((post) => <Post {...post} />)}
    </div>
  </Section>
</Layout>
