---
import Post from "../../components/Post.astro";
import MainHeader from "../../components/Tags/MainHeader.astro";
import Section from "../../components/Tags/Section.astro";
import Layout from "../../layouts/Layout.astro";

export interface Post {
  title: string;
  date: string;
  content: string;
  links?: { text: string; link: string }[];
  important?: boolean;
}

export const news: Post[] = [
  {
    title: "Submission Deadline Extended",
    date: "June 22, 2023",
    content:
      "Responding to extensive requests, the paper submission deadline for IEEE AVSS 2023 is now extended to 17th July, 2023 AOE.",
    important: true,
  },
  {
    title: "Submission Deadline Extended",
    date: "June 11, 2023",
    content:
      "Responding to extensive requests, the paper submission deadline for IEEE AVSS 2023 is now extended to 28th June, 2023 AOE.",
    important: false,
  },
  {
    title: "[Workshops], [Tutorials], and [Challenges] Pages Are Available Now",
    date: "June 12, 2023",
    content:
      "The [Workshops], [Tutorials], and [Challenges] pages are available now.",
    links: [
      { text: "Workshops", link: "/program/workshops" },
      { text: "Tutorials", link: "/program/tutorials" },
      { text: "Challenges", link: "/program/challenges" },
    ],
  },
  {
    title: "Paper Submission Is Now Open: [Submission]",
    date: "May 15, 2023",
    content: "Paper submission is now open.",
    links: [{ text: "Submission", link: "/submission" }],
  },
];

export const sortedByDate = news.sort((a, b) => {
  const dateA = new Date(a.date);
  const dateB = new Date(b.date);

  let diff = dateB.getTime() - dateA.getTime();

  if (a.important) {
    diff = -1;
  }
  if (b.important) {
    if (diff != -1) diff = 1;
    else diff = dateB.getTime() - dateA.getTime();
  }
  return diff;
});
---

<Layout title="News :: AVSS2023">
  <MainHeader metaTitle="General" title="News" />
  <Section>
    <div class="divide-y-2">
      {sortedByDate.map((post) => <Post {...post} />)}
    </div>
  </Section>
</Layout>
