---
import MainHeader from "../../components/MainHeader.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="News :: AVSS2023">
  <MainHeader metaTitle="General" title="News" />
  <section class="mx-auto mt-4 max-w-2xl text-lg">TBA</section>
</Layout>
