---
import MainHeader from "../../components/MainHeader.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Conference Policies :: AVSS2023"
  meta="AVSS2023 Conference Policies"
>
  <MainHeader metaTitle="General" title="Conference Policies" />
  <section class="mx-auto mt-4 max-w-2xl text-lg">
    <h3 id="terms-and-conditions" class="mt-8 mb-4 text-3xl font-bold">
      IEEE Event Terms and Conditions
    </h3>
    <a
      class="fancy"
      href="https://www.ieee.org/conferences/event-terms-and-conditions.html"
      >https://www.ieee.org/conferences/event-terms-and-conditions.html</a
    >

    <h3 id="privacy-policy" class="mt-8 mb-4 text-3xl font-bold">
      IEEE Event Privacy Policy
    </h3>
    <a class="fancy" href="https://www.ieee.org/security-privacy.html
    "
      >https://www.ieee.org/security-privacy.html
    </a>

    <h3 id="non-presented-paper-policy" class="mt-8 mb-4 text-3xl font-bold">
      Non-Presented Paper (No-Show) Policy
    </h3>
    <p class="mt-2">
      Any accepted paper included in the final program is expected to have at
      least one author or qualified proxy attend and present the paper in person
      at the conference. If a paper is not presented at the conference, the
      paper will not be published by IEEE on IEEE Xplore® or other public access
      forums, but these papers will be distributed to conference attendees as
      conference proceedings and the copyright of these papers will belong to
      IEEE. For poster sessions, if the speaker is not present in front of the
      poster for most of the time during the poster session, this also implies
      the paper was not presented. Conference organizers are required to collect
      attendance records and a list of any non-presented papers and submit to
      IEEE SPS staff.
    </p>
    <p class="mt-2">
      Exceptions to this policy will be made by the Technical Program Chair(s)
      of the conference only if there is evidence that the no-show occurred
      because of unanticipated events beyond the control of the authors, and
      every option available to the authors to present the paper was exhausted.
      The no-show authors may appeal the decision of the Technical Program Chair
      to the VP-Conferences.
    </p>

    <h3 id="qualified-proxy-policy" class="mt-8 mb-4 text-3xl font-bold">
      Qualified Proxy Policy
    </h3>
    <p class="mt-2">
      The presentation of papers by substitutes is highly discouraged and may
      only be made after permission is granted by the Technical Program Chair(s)
      of the conference based on solid evidence that none of the authors is
      available to present. Papers presented by substitutes without permission
      will be considered as no-shows.
    </p>

    <h3
      id="authors-with-travel-restrictions-policy"
      class="mt-8 mb-4 text-3xl font-bold"
    >
      Authors with Travel Resrictions Policy
    </h3>
    <p class="mt-2">
      The Signal Processing Society values diversity. Authors who anticipate
      inability to travel to a conference because of a government-imposed travel
      restriction are still encouraged to submit papers. Such papers will be
      reviewed and accepted on their own merit for publication without any
      knowledge of the author’s travel restriction. Within one week of paper
      acceptance notification, travel-restricted authors must notify the
      Technical Program Chair of the conference with proof of their restriction.
      Substitute presenters may be possible or, depending on conference
      resources, other accommodations may be available, such as a remote
      presentation or pre-recorded video.
    </p>

    <h3 id="conduct-and-safety-statement" class="mt-8 mb-4 text-3xl font-bold">
      IEEE Event Conduct and Safety Statement
    </h3>
    <div>
      <p class="mt-2">
        EEE believes that science, technology, and engineering are fundamental
        human activities, for which openness, international collaboration, and
        the free flow of talent and ideas are essential. Its meetings,
        conferences, and other events seek to enable engaging, thought provoking
        conversations that support IEEE’s core mission of advancing technology
        for humanity. Accordingly, IEEE is committed to providing a safe,
        productive, and welcoming environment to all participants, including
        staff and vendors, at IEEE-related events. IEEE has no tolerance for
        discrimination, harassment, or bullying in any form at IEEE-related
        events. All participants have the right to pursue shared interests
        without harassment or discrimination in an environment that supports
        diversity and inclusion.
      </p>
      <p class="mt-2">
        Participants are expected to adhere to these principles and respect the
        rights of others. IEEE seeks to provide a secure environment at its
        events. Participants should report any behavior inconsistent with the
        principles outlined here, to on site staff, security or venue personnel,
        or to <a class="fancy" href="mailto:eventdconduct@ieee.org"
          >eventdconduct@ieee.org</a
        >.
      </p>
    </div>

    <h3 id="diversity-statement" class="mt-8 mb-4 text-3xl font-bold">
      IEEE Signal Processing Society Diversity Statement
    </h3>
    <div>
      <p class="mt-2">
        The IEEE Signal Processing Society adheres to the IEEE Code of Conduct
        and is committed to providing equal opportunity to its members,
        regardless of ethnicity, race, nationality, disability, socioeconomic
        status, sexual orientation, religion, gender, age, and/or personal
        identity. The Society is committed to a welcoming and inclusive
        environment that promotes diversity in the signal processing community.
      </p>
      <p class="mt-2">
        View the complete IEEE Signal Processing Society Policy & Procedures
        Manual at
        <a
          class="fancy"
          href="http://signalprocessingsociety.org/volunteers/policy-and-procedures-manual"
          >http://signalprocessingsociety.org/volunteers/policy-and-procedures-manual</a
        >.
      </p>
      <p class="mt-2">
        IEEE also recommends posting information about preprints, including
        Arxiv.
      </p>
    </div>

    <h3 id="preprints" class="mt-8 mb-4 text-3xl font-bold">Preprints</h3>
    <div>
      <p class="mt-2">
        Authors may post their preprints in the following locations:
      </p>
      <ul class="ml-8 mb-4 list-disc">
        <li class="mt-2">Author's Personal Website</li>
        <li class="mt-2">Author's Employer's Website</li>
        <li class="mt-2">arXiv.org</li>
        <li class="mt-2">TechRxiv.org</li>
        <li class="mt-2">Funder's repository*</li>
      </ul>
      <p class="mt-2">
        This does not count as a prior publication. If copyright to the paper
        was transferred to IEEE through the completion of an IEEE Copyright Form
        before the preprint is posted, IEEE must be credited as the copyright
        holder with the following statement included on the initial screen
        displaying IEEE-copyrighted material:
      </p>
      <div class="mt-2 font-mono">
        <quote>
          "© 2023 IEEE. Personal use of this material is permitted. Permission
          from IEEE must be obtained for all other uses, in any current or
          future media, including reprinting/republishing this material for
          advertising or promotional purposes, creating new collective works,
          for resale or redistribution to servers or lists, or reuse of any
          copyrighted component of this work in other works."
        </quote>
      </div>
    </div>
    <p class="mt-2">
      Upon publication of the paper, the paper’s Digital Object Identifier (DOI)
      should be added.
    </p>
    <p class="mt-2">
      Visit the IEEE Author Center for more information on SPS sharing and
      posting policies at
      <a class="fancy" href="https://ieeeauthorcenter.ieee.org/"
        >https://ieeeauthorcenter.ieee.org/</a
      >.
    </p>
  </section>
</Layout>
