---
import Heading3 from "../../components/Tags/Heading3.astro";
import List from "../../components/Tags/List.astro";
import MainHeader from "../../components/Tags/MainHeader.astro";
import Paragraph from "../../components/Tags/Paragraph.astro";
import Section from "../../components/Tags/Section.astro";
import UList from "../../components/Tags/UList.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout
  title="Conference Policies :: AVSS2023"
  meta="AVSS2023 Conference Policies"
>
  <MainHeader metaTitle="General" title="Conference Policies" />
  <Section>
    <Heading3 title="Terms And Conditions" />
    <a
      class="fancy"
      href="https://www.ieee.org/conferences/event-terms-and-conditions.html"
      >https://www.ieee.org/conferences/event-terms-and-conditions.html</a
    >

    <Heading3 title="Privacy Policy" />
    <a class="fancy" href="https://www.ieee.org/security-privacy.html
    "
      >https://www.ieee.org/security-privacy.html
    </a>

    <Heading3 title="Non Presented Paper Policy" />
    <Paragraph>
      Any accepted paper included in the final program is expected to have at
      least one author or qualified proxy attend and present the paper in person
      at the conference. If a paper is not presented at the conference, the
      paper will not be published by IEEE on IEEE Xplore® or other public access
      forums, but these papers will be distributed to conference attendees as
      conference proceedings and the copyright of these papers will belong to
      IEEE. For poster sessions, if the speaker is not present in front of the
      poster for most of the time during the poster session, this also implies
      the paper was not presented. Conference organizers are required to collect
      attendance records and a list of any non-presented papers and submit to
      IEEE SPS staff.
    </Paragraph>
    <Paragraph>
      Exceptions to this policy will be made by the Technical Program Chair(s)
      of the conference only if there is evidence that the no-show occurred
      because of unanticipated events beyond the control of the authors, and
      every option available to the authors to present the paper was exhausted.
      The no-show authors may appeal the decision of the Technical Program Chair
      to the VP-Conferences.
    </Paragraph>

    <Heading3 title="Qualified Proxy Policy" />
    <Paragraph>
      The presentation of papers by substitutes is highly discouraged and may
      only be made after permission is granted by the Technical Program Chair(s)
      of the conference based on solid evidence that none of the authors is
      available to present. Papers presented by substitutes without permission
      will be considered as no-shows.
    </Paragraph>

    <Heading3 title="Authors with Travel Restrictions Policy">
      Authors with Travel Resrictions Policy
    </Heading3>
    <Paragraph>
      The Signal Processing Society values diversity. Authors who anticipate
      inability to travel to a conference because of a government-imposed travel
      restriction are still encouraged to submit papers. Such papers will be
      reviewed and accepted on their own merit for publication without any
      knowledge of the author’s travel restriction. Within one week of paper
      acceptance notification, travel-restricted authors must notify the
      Technical Program Chair of the conference with proof of their restriction.
      Substitute presenters may be possible or, depending on conference
      resources, other accommodations may be available, such as a remote
      presentation or pre-recorded video.
    </Paragraph>

    <Heading3 title="IEEE Event Conduct and Safety Statement" />
    <Paragraph>
      EEE believes that science, technology, and engineering are fundamental
      human activities, for which openness, international collaboration, and the
      free flow of talent and ideas are essential. Its meetings, conferences,
      and other events seek to enable engaging, thought provoking conversations
      that support IEEE’s core mission of advancing technology for humanity.
      Accordingly, IEEE is committed to providing a safe, productive, and
      welcoming environment to all participants, including staff and vendors, at
      IEEE-related events. IEEE has no tolerance for discrimination, harassment,
      or bullying in any form at IEEE-related events. All participants have the
      right to pursue shared interests without harassment or discrimination in
      an environment that supports diversity and inclusion.
    </Paragraph>
    <Paragraph>
      Participants are expected to adhere to these principles and respect the
      rights of others. IEEE seeks to provide a secure environment at its
      events. Participants should report any behavior inconsistent with the
      principles outlined here, to on site staff, security or venue personnel,
      or to <a class="fancy" href="mailto:eventdconduct@ieee.org"
        >eventdconduct@ieee.org</a
      >.
    </Paragraph>

    <Heading3 title="IEEE Signal Processing Society Diversity Statement" />
    <Paragraph>
      The IEEE Signal Processing Society adheres to the IEEE Code of Conduct and
      is committed to providing equal opportunity to its members, regardless of
      ethnicity, race, nationality, disability, socioeconomic status, sexual
      orientation, religion, gender, age, and/or personal identity. The Society
      is committed to a welcoming and inclusive environment that promotes
      diversity in the signal processing community.
    </Paragraph>
    <Paragraph>
      View the complete IEEE Signal Processing Society Policy & Procedures
      Manual at
      <a
        class="fancy"
        href="http://signalprocessingsociety.org/volunteers/policy-and-procedures-manual"
        >http://signalprocessingsociety.org/volunteers/policy-and-procedures-manual</a
      >.
    </Paragraph>
    <Paragraph>
      IEEE also recommends posting information about preprints, including Arxiv.
    </Paragraph>

    <Heading3 title="Preprints" />
    <Paragraph>
      Authors may post their preprints in the following locations:
    </Paragraph>
    <UList>
      <List>Author's Personal Website</List>
      <List>Author's Employer's Website</List>
      <List>arXiv.org</List>
      <List>TechRxiv.org</List>
      <List>Funder's repository*</List>
    </UList>
    <Paragraph>
      This does not count as a prior publication. If copyright to the paper was
      transferred to IEEE through the completion of an IEEE Copyright Form
      before the preprint is posted, IEEE must be credited as the copyright
      holder with the following statement included on the initial screen
      displaying IEEE-copyrighted material:
    </Paragraph>
    <div class="my-6 rounded bg-gray-200 p-4 font-mono">
      <quote>
        "© 2023 IEEE. Personal use of this material is permitted. Permission
        from IEEE must be obtained for all other uses, in any current or future
        media, including reprinting/republishing this material for advertising
        or promotional purposes, creating new collective works, for resale or
        redistribution to servers or lists, or reuse of any copyrighted
        component of this work in other works."
      </quote>
    </div>
    <Paragraph>
      Upon publication of the paper, the paper’s Digital Object Identifier (DOI)
      should be added.
    </Paragraph>
    <Paragraph>
      Visit the IEEE Author Center for more information on SPS sharing and
      posting policies at
      <a class="fancy" href="https://ieeeauthorcenter.ieee.org/"
        >https://ieeeauthorcenter.ieee.org/</a
      >.
    </Paragraph>
  </Section>
</Layout>
