---
import ProfileImage from "./ProfileImage.astro";

interface ProfileImageInterface {
  name: string;
  description: string;
  profileImage: string;
}

const { name, description, profileImage } =
  Astro.props as ProfileImageInterface;
---

<div
  class="mx-auto flex w-full max-w-[336px] flex-col items-center gap-2 rounded-lg border-2 bg-white px-4 py-6"
>
  <ProfileImage imageSrc={profileImage} altText={name} />
  <p class="text-center text-2xl font-bold">{name}</p>
  <p class="text-center">{description}</p>
</div>
