---
import DefaultImage from "./DefaultImage.astro";

const { imageSrc, altText } = Astro.props;
---

<div class="aspect-square w-24 overflow-hidden rounded-full lg:text-3xl">
  {
    imageSrc ? (
      <img src={imageSrc} alt={altText} class="w-full" />
    ) : (
      <DefaultImage />
    )
  }
</div>
