---
import { Image } from "@astrojs/image/components";
import DefaultImage from "./DefaultImage.astro";

const { imageSrc, altText } = Astro.props;
---

<div
  class="mx-auto aspect-square w-28 grow-0 overflow-hidden rounded-full border-4 bg-gray-300 sm:w-36 lg:text-3xl"
>
  {
    imageSrc ? (
      <Image
        src={imageSrc}
        alt={altText}
        class="aspect-square w-36 object-cover"
        aspectRatio="1/1"
        width="150"
        format="webp"
      />
    ) : (
      <DefaultImage />
    )
  }
</div>
