---
import Profile from "./Profile.astro";
import type { ProfileInterface } from "./profiles";

const { profiles } = Astro.props as { profiles: ProfileInterface[] };
---

<div
  class="mx-auto grid max-w-4xl gap-2 rounded-lg bg-gray-200 p-2 sm:grid-cols-2 lg:grid-cols-3"
>
  {
    profiles.map((profile) => {
      return <Profile {...profile} />;
    })
  }
</div>
