---
import lowerCasify from "../../utils/lowerCasify";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<h3 id={lowerCasify(title)} class="mt-8 text-3xl font-bold">{title}</h3>
