---
import { Image } from "@astrojs/image/components";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Calls :: AVSS2023">
  <header class="mx-auto max-w-3xl">
    <h1 class="text-2xl font-bold uppercase">Calls</h1>
    <h2
      id="call-for-challenges"
      class="mb-12 mt-3 text-4xl font-bold sm:mb-16 sm:text-6xl"
    >
      Call For Challenges
    </h2>
  </header>
  <section class="mx-auto mt-4 max-w-2xl text-lg">
    <section class="-mx-4 rounded-md bg-red-100 px-4 py-4 text-red-800">
      <p class="font-bold italic">
        19th IEEE Int. Conf. on Advanced Video and Signal-Based Surveillance
      </p>
      <p class="font-bold italic">
        Both at EXCO Convention Center, Daegu, South Korea and virtually.
      </p>
      <p class="font-bold italic">6 (Mon.) ~ 9 (Thur.), November, 2023</p>
    </section>

    <p class="mt-4">
      <strong>AVSS 2023</strong> is the <strong>19th</strong> edition of the
      <strong>
        IEEE International Conference on Advanced Video and Signal-Based
        Surveillance,
      </strong>
      a premier forum for the presentation of new advances and research results in
      the field of video and signal-based surveillance. AVSS 2023 is
      <strong>
        sponsored by the IEEE Computer Society (PAMI TC) and the IEEE Signal
        Processing Society.
      </strong>
      The goal is to provide a game-changing and cross-disciplinary forum that brings
      together experts from academia, industry, and government to advance the frontiers
      of theories, methods, systems, and applications.
    </p>
    <p class="mt-4">
      AVSS 2023 invites proposals for Challenge addressing problems that will
      engage and excite the video processing/analytics and surveillance research
      community.
    </p>
    <h3 id="important-dates" class="mt-8 mb-6 text-3xl font-bold">
      Important Dates
    </h3>
    <figure>
      <table
        class="w-full max-w-2xl table-auto border-gray-600 text-xl font-bold"
      >
        <tbody class="border-2 border-gray-600">
          <tr class="border-y-2 border-gray-600 odd:bg-gray-200">
            <td class="border-x-2 border-gray-600 px-4 py-4"
              >Challenge Workshop Proposal Submission Deadline</td
            >
            <td class="px-4 py-4">May 1, 2023</td>
          </tr>
          <tr class="border-y-2 border-gray-600 odd:bg-gray-200">
            <td class="border-x-2 border-gray-600 px-4 py-4"
              >Acceptance Notification</td
            >
            <td class="px-4 py-4">May 15, 2023</td>
          </tr>
          <tr class="border-y-2 border-gray-600 odd:bg-gray-200">
            <td class="border-x-2 border-gray-600 px-4 py-4">Challenge Date</td>
            <td class="px-4 py-4">November 15, 2023</td>
          </tr>
        </tbody>
      </table>
    </figure>
    <p class="mt-4">The proposal should include the following information:</p>
    <ul class="ml-6 mt-4 list-disc">
      <li class="pl-1">
        The challenge title that is explicative of the addressed topic
      </li>
      <li class="pl-1">
        A brief introduction of the challenge (max 500 words)
      </li>
      <li class="pl-1">
        The impact and significance of the challeng in the research and/or
        industrial community
      </li>
      <li class="pl-1">The rules for participation</li>
      <li class="pl-1">
        The criteria that will be used to evaulate the submitted entries
      </li>
      <li class="pl-1">The team that will run the challenge</li>
      <li class="pl-1">
        Important dates (e.g., submission deadline, data available, and winner
        anouncement)
      </li>
      <li class="pl-1">Award propsed (if any)</li>
      <li class="pl-1">Sponsorship (if any)</li>
    </ul>
    <p class="mt-4">
      Challenge organizers should provide a dataset to participating teams that
      should include <em>a training set with ground truth</em> and a <em
        >testing set whose ground truth is hidden</em
      >. Challenge organizers are in charge of the evaluating the results/models
      submitted by the participants on the testing set.
    </p>
    <p class="mt-4">
      Challenge organizers will also organize the presentation of the
      best-performing teams in a dedicated session at AVSS. The session
      includes:
    </p>

    <ul class="ml-6 mt-4 list-disc">
      <li class="pl-1">The presentation of the challenge</li>
      <li class="pl-1">The presentation of awards and the sponsors (if any)</li>
      <li class="pl-1">
        A presentation of the model/approach by the participating teams
      </li>
    </ul>

    <h3 id="submission-instructions" class="mt-8 text-3xl font-bold">
      Submission Instructions
    </h3>
    <p class="mt-4">
      Proposals should be submitted via email to the challenge chairs:
    </p>
    <ul class="ml-6 mt-4 list-disc">
      <li class="pl-1">
        Zheng Tang (Nvidia Metropolis, USA) : <a
          class="fancy"
          href="mailto:tangzhengthomas@gmail.com">tangzhengthomas@gmail.com</a
        >
      </li>
      <li class="pl-1">
        Weiyao Lin (SJTU, China) : <a
          class="fancy"
          href="mailto:wylin@sjtu.edu.cn">wylin@sjtu.edu.cn</a
        >
      </li>
    </ul>

    <p class="mt-4">
      Inquiries regarding the challenge sessions should be sent to the challenge
      chairs.
    </p>
    <figure class="mix-blend-multiply">
      <h3 id="sponsors" class="mt-8 mb-6 text-3xl font-bold">Sponsors</h3>
      <div class="flex flex-row flex-wrap justify-evenly gap-2">
        <Image
          src="/IEEE-CS.png"
          alt="IEEE CS"
          height={112}
          width={327}
          format="webp"
        />
        <Image
          src="/IEEE-SPS.png"
          alt="IEEE SPS"
          height={112}
          width={158}
          format="webp"
        />
      </div>
    </figure>
  </section>
</Layout>
