---
import Layout from "../../layouts/Layout.astro";
import MainHeader from "../../components/Tags/MainHeader.astro";
import Paragraph from "../../components/Tags/Paragraph.astro";
import UList from "../../components/Tags/UList.astro";
import List from "../../components/Tags/List.astro";
import Section from "../../components/Tags/Section.astro";
import Sponsors from "../../components/Sponsors.astro";
import type { Row } from "../../components/Tags/Table.astro";
import Heading3 from "../../components/Tags/Heading3.astro";
import Table from "../../components/Tags/Table.astro";
import Heading4 from "../../components/Tags/Heading4.astro";

const Dates: Row[] = [
  {
    items: ["Paper Submission", "June 14, 2023"],
    bold: true,
    updated: "July 17, 2023",
  },
  {
    items: ["Decision to Authors", "August 28, 2023"],
    bold: true,
  },
  {
    items: ["Camera Ready", "September 4, 2023"],
    bold: true,
  },
  {
    items: ["Workshop Proposals", "May 1, 2023"],
    bold: true,
  },
  {
    items: ["Challenge Proposals", "May 1, 2023"],
    bold: true,
  },
];
---

<Layout
  title="Calls :: AVSS2023"
  meta="Details about Call for Papers. The important dates are June 14 (Paper Submission), August 15 (Decision to Authors), and August 25 (Camera Ready)."
>
  <MainHeader metaTitle="Calls" title="Calls For Papers" />
  <Section>
    <section class="-mx-4 rounded-md bg-red-100 px-4 py-4 text-red-800">
      <p class="font-bold italic">
        19th IEEE Int. Conf. on Advanced Video and Signal-Based Surveillance
      </p>
      <p class="font-bold italic">
        Both at EXCO Convention Center, Daegu, South Korea and virtually.
      </p>
      <p class="font-bold italic">6 (Mon.) ~ 9 (Thur.), November, 2023</p>
    </section>

    <Paragraph>
      <strong>AVSS 2023</strong> is the <strong>19th</strong> edition of the
      <strong>
        IEEE International Conference on Advanced Video and Signal-Based
        Surveillance,
      </strong>
      a premier forum for the presentation of new advances and research results in
      the field of video and signal-based surveillance. AVSS 2023 is
      <strong> sponsored by the IEEE Signal Processing Society.</strong>
    </Paragraph>

    <Paragraph>
      AVSS 2023 will be a <b>hybrid conference</b>, with both in-person and
      virtual attendance options. Conference content hosted on the virtual
      platform will be available exclusively to AVSS registered attendees.
    </Paragraph>

    <Paragraph>
      <span class="font-semibold italic">
        *Each accepted paper MUST be registered under a full, in-person
        registration type. (Student registration type is fine)
      </span>
    </Paragraph>

    <Heading3 title="Important Dates" />
    <Table rows={Dates} />

    <Heading3 title="Topics of Interest" />
    <Paragraph>
      AVSS is the leading conference venue for the underlying theory, methods,
      systems, and applications of video and signal processing, security and
      privacy, and applications of machine learning to video processing and
      image understanding. AVSS encourages submissions on cross-disciplinary and
      game-changing subjects. Topics of interest include, but are not limited to
    </Paragraph>

    <Heading4 title="Real-time Video Processing" />
    <UList>
      <List>Real-time Object Detection and Recognition</List>
      <List>Real-time Face Recognition</List>
      <List>Real-time Video Compression</List>
      <List>Real-time Motion Analysis</List>
      <List>Real-time Video Enhancement</List>
    </UList>

    <Heading4 title="Model Security, Privacy and Robustness" />
    <UList>
      <List>Privacy-Preserving Machine Learning</List>
      <List>Adversarial Machine Learning</List>
      <List>Secure Data Sharing and Exchange</List>
      <List>Authentication and Authorization</List>
      <List>Cybersecurity Threat Detection and Response</List>
      <List>Security and Privacy in the Internet of Things</List>
    </UList>

    <Heading4 title="Multi-modal Analytics" />
    <UList>
      <List>Vision-language and foundational models</List>
      <List>Different sensor modalities for robust analytics</List>
      <List>Fusion approaches for multi-modal data processing</List>
      <List>
        Registration and calibration approaches among different modalities
      </List>
    </UList>

    <Heading4 title="Multi-camera Video Analytics" />
    <UList>
      <List>Multi-view Geometry for Surveillance</List>
      <List>Multi-camera Object Tracking</List>
      <List>Crowd Analysis</List>
      <List>Multi-camera Resource Management</List>
      <List>Multi-camera Video Synchronization</List>
    </UList>

    <Heading4 title="Surveillance Systems and Applications" />
    <UList>
      <List>Surveillance for Smart Cities</List>
      <List>Surveillance for Public Safety</List>
      <List>Surveillance for Home and Business Security</List>
      <List>Surveillance for Critical Infrastructure</List>
    </UList>

    <Paragraph>
      Prospective authors are invited to submit high-quality full papers
      representing original results in all areas of video and signal-based
      surveillance. Submissions and final papers are limited to
      <strong>eight pages</strong>
      <strong>
        in double-column IEEE format, including figures, tables, and references.
      </strong>
      Accepted papers are published in the conference proceedings that will be also
      available in the IEEE Xplore digital library.
    </Paragraph>
    <Sponsors />
  </Section>
</Layout>
