---
import { Image } from "@astrojs/image/components";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Calls :: AVSS2023">
  <header class="mx-auto max-w-3xl">
    <h1 class="text-2xl font-bold uppercase">Calls</h1>
    <h2
      id="call-for-papers"
      class="mb-12 mt-3 text-4xl font-bold sm:mb-16 sm:text-6xl"
    >
      Call For Papers
    </h2>
  </header>
  <section class="mx-auto mt-4 max-w-2xl text-lg">
    <section class="-mx-4 rounded-md bg-red-100 px-4 py-4 text-red-800">
      <p class="font-bold italic">
        19th IEEE Int. Conf. on Advanced Video and Signal-Based Surveillance
      </p>
      <p class="font-bold italic">
        Both at EXCO Convention Center, Daegu, South Korea and virtually.
      </p>
      <p class="font-bold italic">6 (Mon.) ~ 9 (Thur.), November, 2023</p>
    </section>

    <p class="mt-4">
      <strong>AVSS 2023</strong> is the <strong>19th</strong> edition of the
      <strong>
        IEEE International Conference on Advanced Video and Signal-Based
        Surveillance,
      </strong>
      a premier forum for the presentation of new advances and research results in
      the field of video and signal-based surveillance. AVSS 2023 is
      <strong> sponsored by the IEEE Signal Processing Society.</strong>
    </p>

    <h3 id="important-dates" class="mt-8 mb-6 text-3xl font-bold">
      Important Dates
    </h3>
    <figure>
      <table
        class="w-full max-w-2xl table-fixed border-gray-600 text-xl font-bold"
      >
        <tbody class="border-2 border-gray-600">
          <tr class="border-y-2 border-gray-600 odd:bg-gray-200">
            <td class="border-x-2 border-gray-600 px-4 py-4 text-right"
              >Paper Submission</td
            >
            <td class="px-4 py-4">June 15, 2023</td>
          </tr>
          <tr class="border-y-2 border-gray-600 odd:bg-gray-200">
            <td class="border-x-2 border-gray-600 px-4 py-4 text-right"
              >Decision to Authors</td
            >
            <td class="px-4 py-4">Aug 15, 2023</td>
          </tr>
          <tr class="border-y-2 border-gray-600 odd:bg-gray-200">
            <td class="border-x-2 border-gray-600 px-4 py-4 text-right"
              >Camera Ready</td
            >
            <td class="px-4 py-4">Aug 25, 2023</td>
          </tr>
          <tr class="border-y-2 border-gray-600 odd:bg-gray-200">
            <td class="border-x-2 border-gray-600 px-4 py-4 text-right"
              >Workshop Proposals</td
            >
            <td class="px-4 py-4">May 1, 2023</td>
          </tr>
          <tr class="border-y-2 border-gray-600 odd:bg-gray-200">
            <td class="border-x-2 border-gray-600 px-4 py-4 text-right"
              >Challenge Proposals</td
            >
            <td class="px-4 py-4">May 1, 2023</td>
          </tr>
        </tbody>
      </table>
    </figure>

    <h3 id="topics-of-interest" class="mt-8 text-3xl font-bold">
      Topics of Interest
    </h3>
    <p class="mt-4">
      AVSS is the leading conference venue for the underlying theory, methods,
      systems, and applications of video and signal based surveillance. AVSS
      invites submissions in areas listed below, especially on
      cross-disciplinary and game-changing subjects. The list of topics of
      interest includes, but is not limited to
    </p>

    <h4 id="real-time-video-processing" class="mt-6 mb-4 text-2xl font-bold">
      Real-time Video Processing
    </h4>
    <ul class="ml-6 list-disc">
      <li class="pl-1">Real-time Object Detection and Recognition</li>
      <li class="pl-1">Real-time Face Recognition</li>
      <li class="pl-1">Real-time Video Compression</li>
      <li class="pl-1">Real-time Motion Analysis</li>
      <li class="pl-1">Real-time Video Enhancement</li>
    </ul>

    <h4 id="multi-camera-video-analytics" class="mt-6 mb-4 text-2xl font-bold">
      Multi-camera Video Analytics
    </h4>
    <ul class="ml-6 list-disc">
      <li class="pl-1">Multi-view Geometry for Surveillance</li>
      <li class="pl-1">Multi-camera Object Tracking</li>
      <li class="pl-1">Crowd Analysis</li>
      <li class="pl-1">Multi-camera Resource Management</li>
      <li class="pl-1">Multi-camera Video Synchronization</li>
    </ul>

    <h4 id="security-privacy" class="mt-6 mb-4 text-2xl font-bold">
      SECURITY &amp; PRIVACY
    </h4>
    <ul class="ml-6 list-disc">
      <li class="pl-1">Privacy-Preserving Machine Learning</li>
      <li class="pl-1">Secure Data Sharing and Exchange</li>
      <li class="pl-1">Authentication and Authorization</li>
      <li class="pl-1">Cybersecurity Threat Detection and Response</li>
      <li class="pl-1">Security and Privacy in the Internet of Things</li>
      <li class="pl-1">Adversarial Machine Learning</li>
    </ul>

    <h4
      id="surveillance-systems-and-applications"
      class="mt-6 mb-4 text-2xl font-bold"
    >
      SURVEILLANCE SYSTEMS AND APPLICATIONS
    </h4>
    <ul class="ml-6 list-disc">
      <li class="pl-1">Surveillance for Smart Cities</li>
      <li class="pl-1">Surveillance for Public Safety</li>
      <li class="pl-1">Surveillance for Home and Business Security</li>
      <li class="pl-1">Surveillance for Critical Infrastructure</li>
    </ul>
    <p class="mt-4">
      Prospective authors are invited to submit high-quality full papers
      representing original results in all areas of video and signal-based
      surveillance. Submissions and final papers are limited to
      <strong>eight pages</strong>
      <strong>
        in double-column IEEE format, including figures, tables, and references.
      </strong>
      Accepted papers are published in the conference proceedings that will be also
      available in the IEEE Xplore digital library.
    </p>
    <figure class="mix-blend-multiply">
      <h3 id="sponsors" class="mt-8 mb-6 text-3xl font-bold">Sponsors</h3>
      <div class="flex flex-row flex-wrap justify-evenly gap-2">
        <Image
          src="/IEEE-SPS.png"
          alt="IEEE SPS"
          height={140}
          width={198}
          format="webp"
        />
      </div>
    </figure>
  </section>
</Layout>
