---
import { Image } from "@astrojs/image/components";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Calls :: AVSS2023">
  <header class="mx-auto max-w-3xl">
    <h1 class="text-2xl font-bold uppercase">Calls</h1>
    <h2
      id="call-for-tutorials"
      class="mb-12 mt-3 text-4xl font-bold sm:mb-16 sm:text-6xl"
    >
      Call For Tutorials
    </h2>
  </header>
  <section class="mx-auto mt-4 max-w-2xl text-lg">
    <section class="-mx-4 rounded-md bg-red-100 px-4 py-4 text-red-800">
      <p class="font-bold italic">
        19th IEEE Int. Conf. on Advanced Video and Signal-Based Surveillance
      </p>
      <p class="font-bold italic">
        Both at EXCO Convention Center, Daegu, South Korea and virtually.
      </p>
      <p class="font-bold italic">6 (Mon.) ~ 9 (Thur.), November, 2023</p>
    </section>
    <p class="mt-4">
      <strong>AVSS 2023</strong> is the <strong>19th</strong> edition of the
      <strong>
        IEEE International Conference on Advanced Video and Signal-Based
        Surveillance,
      </strong>
      a premier forum for the presentation of new advances and research results in
      the field of video and signal-based surveillance. AVSS 2023 is
      <strong>
        sponsored by the IEEE Computer Society (PAMI TC) and the IEEE Signal
        Processing Society.
      </strong>
      The goal is to provide a game-changing and cross-disciplinary forum that brings
      together experts from academia, industry, and government to advance the frontiers
      of theories, methods, systems, and applications.
    </p>

    <h3 id="important-dates" class="mt-8 mb-6 text-3xl font-bold">
      Important Dates
    </h3>
    <figure>
      <table
        class="w-full max-w-2xl table-fixed border-gray-600 text-xl font-bold"
      >
        <tbody class="border-2 border-gray-600">
          <tr class="border-y-2 border-gray-600 odd:bg-gray-200">
            <td class="border-x-2 border-gray-600 px-4 py-4 text-right"
              >Tutorial Proposal Submission Deadline</td
            >
            <td class="px-4 py-4">May 1, 2023</td>
          </tr>
          <tr class="border-y-2 border-gray-600 odd:bg-gray-200">
            <td class="border-x-2 border-gray-600 px-4 py-4 text-right"
              >Tutorial Proposal Acceptance Decision</td
            >
            <td class="px-4 py-4">Aug 15, 2023</td>
          </tr>
          <tr class="border-y-2 border-gray-600 odd:bg-gray-200">
            <td class="border-x-2 border-gray-600 px-4 py-4 text-right"
              >Submission of Final Tutorial Slides</td
            >
            <td class="px-4 py-4">Aug 25, 2023</td>
          </tr>
          <tr class="border-y-2 border-gray-600 odd:bg-gray-200">
            <td class="border-x-2 border-gray-600 px-4 py-4 text-right"
              >Tutorial Date</td
            >
            <td class="px-4 py-4">Nov 6, 2023</td>
          </tr>
        </tbody>
      </table>
    </figure>

    <h3 id="topics-of-interest" class="mt-8 text-3xl font-bold">
      Topics of Interest
    </h3>
    <p class="mt-4">
      The tutorials can be either full-day or half-day (morning or afternoon).
      The topics of interest include, but are not limited to:
    </p>
    <ul class="ml-6 mt-4 list-disc">
      <li class="pl-1">Analytics, Situational Awareness & Decision-Making</li>
      <li class="pl-1">Processing, Detection, Tracking & Recognition</li>
      <li class="pl-1">Sensor-Centric Processing</li>
      <li class="pl-1">Surveillance Systems and Applications</li>
      <li class="pl-1">
        Visualization and Interaction Concepts for Surveillance Systems
      </li>
      <li class="pl-1">Multi-Modal Scene Perception Across the Spectrum</li>
      <li class="pl-1">Distributed Learning and Inference</li>
      <li class="pl-1">Whole-Body Person Identification</li>
    </ul>

    <p class="mt-4">
      Prospective tutorial organizers are invited to submit their tutorial
      proposals by email to the Tutorial Chairs, ChangIck Kim (<a
        class="fancy"
        href="mailto:changick@kaist.ac.kr">changick@kaist.ac.kr</a
      >) and Gaoang Wang (<a
        class="fancy"
        href="mailto:gaoangwang@intl.zju.edu.cn">gaoangwang@intl.zju.edu.cn</a
      >). The proposal should include a 3-page description of the tutorial and a
      1-page biography for each of the tutorial speakers. Please highlight
      speaker qualifications and track record in the proposed tutorial subject
      areas, and include the following information:
    </p>
    <ul class="ml-6 mt-4 list-disc">
      <li class="pl-1">Format of the tutorial: full-day or half-day</li>
      <li class="pl-1">Tutorial title and abstract</li>
      Prerequisites for the participants (if any)
      <li class="pl-1">
        Motivation and Focus: Explain topic's importance to the AVSS community
        and what attendees will learn from the tutorial
      </li>
      <li class="pl-1">
        Syllabus outlining the content of the tutorial and learning outcomes
      </li>
      <li class="pl-1">
        List of tutor(s): In the case where there are multiple tutors, please
        provide a list of the speakers and their affiliations. Please also
        describe the parts of the tutorial that they will contribute to.
      </li>
    </ul>

    <p class="mt-4">
      Tutorial proposals should be submitted in Word or PDF format via e-mail
      with the subject title "AVSS 2023 - Tutorial Proposal" to the tutorial
      chairs: ChangIck Kim (<a class="fancy" href="mailto:changick@kaist.ac.kr"
        >changick@kaist.ac.kr</a
      >) and Gaoang Wang (<a
        class="fancy"
        href="mailto:gaoangwang@intl.zju.edu.cn">gaoangwang@intl.zju.edu.cn</a
      >).
    </p>
    <figure class="mix-blend-multiply">
      <h3 id="sponsors" class="mt-8 mb-6 text-3xl font-bold">Sponsors</h3>
      <div class="flex flex-row flex-wrap justify-evenly gap-2">
        <Image
          src="/IEEE-CS.png"
          alt="IEEE CS"
          height={112}
          width={327}
          format="webp"
        />
        <Image
          src="/IEEE-SPS.png"
          alt="IEEE SPS"
          height={112}
          width={158}
          format="webp"
        />
      </div>
    </figure>
  </section>
</Layout>
