---
import Layout from "../../layouts/Layout.astro";
import MainHeader from "../../components/Tags/MainHeader.astro";
import Section from "../../components/Tags/Section.astro";
import Paragraph from "../../components/Tags/Paragraph.astro";
import UList from "../../components/Tags/UList.astro";
import List from "../../components/Tags/List.astro";
import Sponsors from "../../components/Sponsors.astro";
import Heading3 from "../../components/Tags/Heading3.astro";
import type { Row } from "../../components/Tags/Table.astro";
import Table from "../../components/Tags/Table.astro";

const Dates: Row[] = [
  {
    items: ["Tutorial Proposal Submission Deadline", "May 1, 2023"],
    bold: true,
  },
  {
    items: ["Tutorial Proposal Acceptance Decision", "May 15, 2023"],
    bold: true,
  },
  {
    items: ["Submission of Final Tutorial Slides", "November 1, 2023"],
    bold: true,
  },
  {
    items: ["Tutorial Date", "November 6, 2023"],
    bold: true,
  },
];
---

<Layout
  title="Calls :: AVSS2023"
  meta="Details about Call for Tutorials. The important dates are May 1, 2023 (Tutorial Proposal Submission Deadline), May 15, 2023 (Tutorial Proposal Acceptance Decision), November 1, 2023 (Submission of Final Tutorial Slides), November 6, 2023 (Tutorial Date)."
>
  <MainHeader metaTitle="Calls" title="Calls For Tutorials" />
  <Section>
    <section class="-mx-4 rounded-md bg-red-100 px-4 py-4 text-red-800">
      <p class="font-bold italic">
        19th IEEE Int. Conf. on Advanced Video and Signal-Based Surveillance
      </p>
      <p class="font-bold italic">
        Both at EXCO Convention Center, Daegu, South Korea and virtually.
      </p>
      <p class="font-bold italic">6 (Mon.) ~ 9 (Thur.), November, 2023</p>
    </section>
    <Paragraph>
      <strong>AVSS 2023</strong> is the <strong>19th</strong> edition of the
      <strong>
        IEEE International Conference on Advanced Video and Signal-Based
        Surveillance,
      </strong>
      a premier forum for the presentation of new advances and research results in
      the field of video and signal-based surveillance. AVSS 2023 is
      <strong> sponsored by the IEEE Signal Processing Society.</strong>
      The goal is to provide a game-changing and cross-disciplinary forum that brings
      together experts from academia, industry, and government to advance the frontiers
      of theories, methods, systems, and applications.
    </Paragraph>

    <Heading3 title="Important Dates" />
    <Table rows={Dates} />

    <Heading3 title="Topics of Interest" />
    <Paragraph>
      The tutorials can be either full-day or half-day (morning or afternoon).
      The topics of interest include, but are not limited to:
    </Paragraph>
    <UList>
      <List>Analytics, Situational Awareness & Decision-Making</List>
      <List>Processing, Detection, Tracking & Recognition</List>
      <List>Sensor-Centric Processing</List>
      <List>Surveillance Systems and Applications</List>
      <List>
        Visualization and Interaction Concepts for Surveillance Systems
      </List>
      <List>Multi-Modal Scene Perception Across the Spectrum</List>
      <List>Distributed Learning and Inference</List>
      <List>Whole-Body Person Identification</List>
    </UList>

    <Paragraph>
      Prospective tutorial organizers are invited to submit their tutorial
      proposals by email to the Tutorial Chairs, ChangIck Kim (<a
        class="fancy"
        href="mailto:changick@kaist.ac.kr">changick@kaist.ac.kr</a
      >) and Gaoang Wang (<a
        class="fancy"
        href="mailto:gaoangwang@intl.zju.edu.cn">gaoangwang@intl.zju.edu.cn</a
      >). The proposal should include a 3-page description of the tutorial and a
      1-page biography for each of the tutorial speakers. Please highlight
      speaker qualifications and track record in the proposed tutorial subject
      areas, and include the following information:
    </Paragraph>
    <UList>
      <List>Format of the tutorial: full-day or half-day</List>
      <List>Tutorial title and abstract</List>
      Prerequisites for the participants (if any)
      <List>
        Motivation and Focus: Explain topic's importance to the AVSS community
        and what attendees will learn from the tutorial
      </List>
      <List>
        Syllabus outlining the content of the tutorial and learning outcomes
      </List>
      <List>
        List of tutor(s): In the case where there are multiple tutors, please
        provide a list of the speakers and their affiliations. Please also
        describe the parts of the tutorial that they will contribute to.
      </List>
    </UList>

    <Paragraph>
      Tutorial proposals should be submitted in Word or PDF format via e-mail
      with the subject title "AVSS 2023 - Tutorial Proposal" to the tutorial
      chairs: ChangIck Kim (<a class="fancy" href="mailto:changick@kaist.ac.kr"
        >changick@kaist.ac.kr</a
      >) and Gaoang Wang (<a
        class="fancy"
        href="mailto:gaoangwang@intl.zju.edu.cn">gaoangwang@intl.zju.edu.cn</a
      >).
    </Paragraph>
    <Sponsors />
  </Section>
</Layout>
