---
import { Image } from "@astrojs/image/components";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Calls :: AVSS2023">
  <header class="mx-auto max-w-3xl">
    <h1 class="text-2xl font-bold uppercase">Calls</h1>
    <h2
      id="call-for-workshops"
      class="mb-12 mt-3 text-4xl font-bold sm:mb-16 sm:text-6xl"
    >
      Call For Workshops
    </h2>
  </header>
  <section class="mx-auto mt-4 max-w-2xl text-lg">
    <section class="-mx-4 rounded-md bg-red-100 px-4 py-4 text-red-800">
      <p class="font-bold italic">
        19th IEEE Int. Conf. on Advanced Video and Signal-Based Surveillance
      </p>
      <p class="font-bold italic">
        Both at EXCO Convention Center, Daegu, South Korea and virtually.
      </p>
      <p class="font-bold italic">6 (Mon.) ~ 9 (Thur.), November, 2023</p>
    </section>

    <p class="mt-4">
      <strong>AVSS 2023</strong> is the <strong>19th</strong> edition of the
      <strong>
        IEEE International Conference on Advanced Video and Signal-Based
        Surveillance,
      </strong>
      a premier forum for the presentation of new advances and research results in
      the field of video and signal-based surveillance. AVSS 2023 is
      <strong> sponsored by the IEEE Signal Processing Society.</strong>
      The goal is to provide a game-changing and cross-disciplinary forum that brings
      together experts from academia, industry, and government to advance the frontiers
      of theories, methods, systems, and applications.
    </p>
    <p class="mt-4">
      Typically, workshops on new and emerging topics/challenges related to
      video and signal-based surveillance and of interest to the community at
      large are held in conjunction with AVSS. Workshops will be held on
      <strong>November 9 (Thursday) 2023</strong>, after the main conference. We
      welcome workshop proposals in new and emerging research areas of visual
      and signal-based surveillance.
    </p>
    <h3 id="important-dates" class="mt-8 mb-6 text-3xl font-bold">
      Important Dates
    </h3>
    <figure>
      <table
        class="w-full max-w-2xl table-auto border-gray-600 text-xl font-bold"
      >
        <tbody class="border-2 border-gray-600">
          <tr class="border-y-2 border-gray-600 odd:bg-gray-200">
            <td class="border-x-2 border-gray-600 px-4 py-4"
              >Workshop Proposal Submission Deadline</td
            >
            <td class="px-4 py-4">May 1, 2023</td>
          </tr>
          <tr class="border-y-2 border-gray-600 odd:bg-gray-200">
            <td class="border-x-2 border-gray-600 px-4 py-4"
              >Acceptance Notification</td
            >
            <td class="px-4 py-4">May 15, 2023</td>
          </tr>
          <tr class="border-y-2 border-gray-600 odd:bg-gray-200">
            <td class="border-x-2 border-gray-600 px-4 py-4">Workshop Date</td>
            <td class="px-4 py-4">November 6, 2023</td>
          </tr>
        </tbody>
      </table>
    </figure>
    <p class="mt-4">
      Prospective workshop organizers are invited to submit proposals via e-mail
      to the workshop chairs:
    </p>
    <ul class="ml-6 mt-4 list-disc">
      <li class="pl-1">
        Hyunjong Yang (POSTECH, S. Korea): <a
          class="fancy"
          href="mailto:hyunyang@postech.ac.kr">hyunyang@postech.ac.kr</a
        >
      </li>
      <li class="pl-1">
        Federica Battisti (University of Padua, Italy):
        <a class="fancy" href="mailto:federica.battisti@unipd.it"
          >federica.battisti@unipd.it</a
        >
      </li>
    </ul>
    <p class="mt-4">no later than <strong>May 1, 2023.</strong></p>
    <p class="mt-4">The proposal should include the following information:</p>

    <ul class="ml-6 mt-4 list-disc">
      <li class="pl-1">Workshop title</li>
      <li class="pl-1">
        List of organizers including affiliation and email address
      </li>
      <li class="pl-1">Workshop motivation</li>
      <li class="pl-1">Estimated participation (industry/academia)</li>
      <li class="pl-1">
        Anticipated number of talks/posters and length of workshop (half-day or
        full-day)
      </li>
      <li class="pl-1">
        Paper submission procedure Paper review procedure
        (single-blind/double-blind, solicited/invited-only pool of reviewers)
      </li>
      <li class="pl-1">
        Paper submission and acceptance deadlines (camera-ready and early
        registration deadlines for a workshop/contest must coincide with the
        corresponding deadlines of AVSS-2023 – see Important Dates on <a
          class="fancy"
          href="/calls/">Call for Papers</a
        >)
      </li>
      <li>Special space and equipment requests, if any</li>
    </ul>
    <h3 id="topics-of-interest" class="mt-8 text-3xl font-bold">
      Topics of Interest
    </h3>
    <p class="mt-4">
      Topics of interest include, but are not limited to, the following:
    </p>
    <ul class="ml-6 mt-4 list-disc">
      <li class="pl-1">Surveillance in Smart Cities</li>
      <li class="pl-1">Human and Vehicle Surveillance</li>
      <li class="pl-1">Multi-camera Video Analytics</li>
      <li class="pl-1">Privacy and Security</li>
      <li class="pl-1">Real-time Video or Distributed Systems</li>
      <li class="pl-1">Real-time Video Processing</li>
    </ul>

    <p class="mt-4">We are looking forward to receiving your proposals!</p>
    <figure class="mix-blend-multiply">
      <h3 id="sponsors" class="mt-8 mb-6 text-3xl font-bold">Sponsors</h3>
      <div class="flex flex-row flex-wrap justify-evenly gap-2">
        <Image
          src="/IEEE-SPS.png"
          alt="IEEE SPS"
          height={140}
          width={198}
          format="webp"
        />
      </div>
    </figure>
  </section>
</Layout>
