---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Contact :: AVSS2023">
  <header class="mx-auto max-w-3xl">
    <h1 class="text-xl font-bold uppercase sm:text-2xl">Contact</h1>
    <h2 id="contact" class="mb-9 mt-3 text-4xl font-bold sm:mb-9 sm:text-6xl">
      Contact
    </h2>
  </header>
  <section class="mx-auto mt-4 max-w-2xl text-lg">
    <div class="pb-3">
      If you have enquiries about the conference, please contact the following
      conference chairs:
    </div>

    <h3 class="pt-6 pb-2 text-2xl font-bold hover:underline">
      <a href="/organization/#jenq-neng-hwang">Jenq-Neng Hwang</a>
    </h3>
    <div><a href="mailto:hwang@uw.edu" class="fancy">hwang@uw.edu</a></div>
    <h3 class="pt-6 pb-2 text-2xl font-bold hover:underline">
      <a href="/organization/#michael-s.-ryoo">Michael S. Ryoo</a>
    </h3>
    <div>
      <a href="mailto:mryoo@cs.stonybrook.edu" class="fancy"
        >mryoo@cs.stonybrook.edu</a
      >
    </div>
    <h3 class="pt-6 pb-2 text-2xl font-bold hover:underline">
      <a href="/organization/#kwang-ju-kim">Kwang-Ju Kim</a>
    </h3>
    <div>
      <a href="mailto:kwangju@etri.re.kr" class="fancy">kwangju@etri.re.kr</a>
    </div>
  </section>
</Layout>
