---
import Committee from "../components/Committee.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Organization :: AVSS2023">
  <h1 class="text-4xl font-bold">Organization</h1>
  <h2 class="text-3xl font-bold">AVSS 2023 Organizing Committee</h2>

  <article>
    <Committee />
  </article>
</Layout>
