---
import Committee from "../components/Committee.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Organization :: AVSS2023">
  <header class="mx-auto max-w-4xl">
    <h1 class="text-2xl font-bold uppercase">Organization</h1>
    <h2 class="mb-12 mt-3 text-5xl font-bold sm:mb-16 sm:text-6xl">
      AVSS 2023 <br /> Organizing Committee
    </h2>
  </header>
  <section class="mx-auto max-w-3xl">
    <Committee />
  </section>
</Layout>
