---
import MainHeader from "../components/Tags/MainHeader.astro";
import Section from "../components/Tags/Section.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Program :: AVSS2023">
  <MainHeader metaTitle="Program" title="Program" />
  <Section>TBA</Section>
</Layout>
