---
import { Image } from "@astrojs/image/components";
import Layout from "../layouts/Layout.astro";
import MainHeader from "../components/Tags/MainHeader.astro";
import Section from "../components/Tags/Section.astro";
import Heading3 from "../components/Tags/Heading3.astro";
---

<Layout title="Sponsors :: AVSS2023">
  <MainHeader metaTitle="Sponsors" title="Sponsors" />
  <Section>
    <figure class="mix-blend-multiply">
      <Heading3 title="Sponsor" />
      <div class="flex flex-row flex-wrap justify-evenly gap-2">
        <Image
          src="/IEEE-SPS.png"
          alt="IEEE SPS"
          height={300}
          width={424}
          format="webp"
        />
      </div>
    </figure>
  </Section>
</Layout>
