---
import Layout from "../layouts/Layout.astro";
---

<!-- write a meta description of this page for better seo -->
<Layout
  title="Submission :: AVSS2023"
  meta="Paper Submissions and Instructions and Guidelines for AVSS 2023"
>
  <header class="mx-auto max-w-3xl">
    <h1 class="text-2xl font-bold uppercase">Submission</h1>
    <h2
      id="paper-submission-instructions-and-guidelines"
      class="mb-12 mt-3 text-4xl font-bold sm:mb-16 sm:text-6xl"
    >
      Paper Submission Instructions and Guidelines
    </h2>
  </header>
  <section class="mx-auto mt-6 max-w-2xl text-lg">
    <p class="mt-4">
      We invite submissions of up to eight pages, including references. The
      maximum size of the abstract is 1000 characters. Any submission must be in
      PDF format (maximum 10MB); submissions in other formats will be rejected.
    </p>
    <p class="mt-4">
      A paper submission implies that, if the paper is accepted, one of the
      authors will present the paper/poster at the conference. Authors are
      responsible for obtaining any necessary visas and may need to start that
      process before final decisions are released. Sending a video of the
      presentation in place of an author is NOT considered presenting. Papers
      that are not presented will be pulled from the IEEE proceedings and are
      not considered published.
    </p>

    <h3 id="submission-templates" class="mt-8 text-3xl font-bold">
      Submission Templates
    </h3>

    <p class="mt-4">
      There are two sets of paper submission templates available:
    </p>

    <ul class="mt-4">
      <li class="ml-6 list-disc">
        <a
          class="text-blue-600 underline"
          href="/submission/avss_latex_template.zip"
        >
          LaTex Template</a
        >
      </li>
      <li class="ml-6 list-disc">
        <a
          class="text-blue-600 underline"
          href="/submission/avss_word_template.zip"
        >
          Word Template</a
        >
      </li>
    </ul>

    <p class="mt-4">
      Detailed style and formatting instructions can be found in either
      template. The blue line numbers must not be removed in the version for
      review, as it greatly facilitates the review process. However, the line
      numbers must be removed in the final version. Submissions not using the
      above templates or disclosing the identity of the authors will be rejected
      without review.
    </p>
    <p class="mt-4">
      A complete paper must be submitted using one of the above templates,
      formatted for double-blind review, at the Microsoft Conference Management
      Toolkit (CMT) site:<strong> TBD</strong>
    </p>
    <p class="mt-4">
      Make sure that your browser has cookies and Javascript enabled. Please add
      <a
        class="text-blue-600 underline"
        href="mailto:cmt@microsoft.com"
        target="_blank"
        class="url">cmt@microsoft.com</a
      >
      to your list of safe senders to prevent email announcements from being blocked.
      If your submission has co-authors, please make sure that you enter their email
      adresses that correspond exactly to their account names (assuming they have
      created accounts). They will ensure that your co-authors can also see your
      submission when they log in. Authorship cannot be changed during the review
      process.
    </p>

    <h3 id="double-blined-peer-review" class="mt-8 text-3xl font-bold">
      Double-Blind Peer Review
    </h3>

    <p class="mt-4">
      AVSS-2023 uses a double-blind peer review procedure, i.e. the identity of
      authors is hidden from reviewers and the identity of reviewers is hidden
      from authors. In order to identify a paper, one of the authors must first
      register as a user on the CMT submission website and enter the paper title
      and abstract. This will result in the allocation of a Paper ID that must
      be used instead of author names in the preparation of the submission for
      review. Please be sure to read both the formatting instructions in the
      templates and policies (below) before submission. The paper must be
      registered and submitted through CMT by the deadline specified in the
      Important Dates page of the AVSS-2023 website.
    </p>
    <p class="mt-4">
      Papers submitted for review must remain anonymous. First, &quot;Paper
      ID&quot;, as allocated by CMT website upon registration of the paper, must
      replace author names and affiliations. Secondly, there must be no
      identifiable self-references in paper content. Many authors misunderstand
      the concept of anonymizing for blind review. Blind review does not mean
      that one must remove citations to one’s own work – in fact it is often
      impossible to review a paper unless the previous citations are known and
      available. Blind review means that you do not use the words &quot;my&quot;
      or &quot;our&quot; when citing previous work. Also, avoid providing
      information that may identify the authors in the acknowledgments (e.g.,
      co-workers and grant IDs) and in the supplemental material (e.g., titles
      in the movies, or attached papers). Avoid providing links to websites that
      identify the authors. Violation of any of these guidelines can lead to
      rejection without review. If a paper is accepted, the final version can
      (and should) include such self-references. For more detailed instructions
      and examples please see Section 1.6 in the templates.
    </p>

    <h3 id="dual-double-submissions" class="mt-8 text-3xl font-bold">
      Dual/Double Submissions
    </h3>

    <p class="mt-4">
      By submitting a manuscript to AVSS, the authors guarantee that it has not
      been previously published or accepted for publication in substantially
      similar form in an archival peer-reviewed forum. Furthermore, no paper
      which contains significant overlap with the contributions of this paper is
      either under review at the moment of submission or will be submitted
      during the AVSS-2023 review period to any of the following: another
      conference, a workshop, or a journal. Note that a Technical Report
      (departmental, arXiv.org, etc.) that is disseminated without any form of
      direct peer-review is NOT considered a publication. If there are papers
      that may appear to violate any of the above conditions, it is the authors’
      responsibility to cite these papers (preserving anonymity), argue in the
      body of your paper why your AVSS-2023 paper is non-trivially different
      from these concurrent submissions, and include anonymized versions of
      those papers in the supplemental material.
    </p>

    <h3 id="conflict-responsibilities" class="mt-8 text-3xl font-bold">
      Conflict & Responsibilities
    </h3>

    <p class="mt-4">
      It is the primary author’s responsibility to ensure that all authors on
      their paper have registered their conflicts into CMT. Conflicts are needed
      to resolve assignments to both reviewers and area chairs. If a paper is
      found to have an undeclared conflict that causes a problem, the paper may
      be summarily rejected. Incomplete or manipulation of conflict domains may
      result in paper rejection.
    </p>

    <h3 id="supplementary-material" class="mt-8 text-3xl font-bold">
      Supplementary Material
    </h3>

    <p class="mt-4">
      Authors may optionally upload supplementary material, which may include:
      <ol class="ml-6 mt-4 list-decimal">
        <li class="pl-1">
          videos to showcase results/demo of the proposed approach/system
        </li>
        <li class="pl-1">
          images and other results in addition to the ones in the paper
          anonymized
        </li>
        <li class="pl-1">
          related submissions to other conferences and journals appendices or
          technical
        </li>
        <li class="pl-1">
          reports containing extended proofs and mathematical derivations that
          are not essential to the understanding of the submitted paper.
        </li>
      </ol>
    </p>
    <p class="mt-4">
      AVSS-2023 encourages authors to submit videos using an MP4 codec such as
      DivX contained in an AVI or quicktime MOV, compressed with ZIP. Also,
      please submit a README text file with each video specifying the exact
      codec used and a URL where the codec can be downloaded.
    </p>
    <p class="mt-4">
      The authors should refer to the contents of the supplementary material
      appropriately in the paper. Note that reviewers will be encouraged to look
      at it, but are not obligated to do so.
    </p>
  </section>
</Layout>
