---
import HoverNavItems from "./HoverNavItems.astro";

interface NavItem {
  name: string;
  href: string;
  hover?: NavItem[];
}

const navItems: NavItem[] = [
  {
    name: "General",
    href: "/general/news",
    hover: [
      {
        name: "News",
        href: "/general/news",
      },
      {
        name: "Organization",
        href: "/general/organization",
      },
      {
        name: "Keynote Speakers",
        href: "/general/keynote-speakers",
      },
      {
        name: "Conference Policies",
        href: "/general/policies",
      },
      {
        name: "Contact",
        href: "/general/contact",
      },
    ],
  },
  { name: "Program", href: "/program" },
  {
    name: "Calls",
    href: "/calls",
    hover: [
      {
        name: "Call For Papers",
        href: "/calls",
      },
      {
        name: "Call For Workshops",
        href: "/calls/workshops",
      },
      {
        name: "Call For Tutorials",
        href: "/calls/tutorials",
      },
      {
        name: "Call For Challenges",
        href: "/calls/challenges",
      },
    ],
  },
  { name: "Submission", href: "/submission" },
  {
    name: "Information",
    href: "/information",
    hover: [
      {
        name: "Venue",
        href: "/information/venue",
      },
      {
        name: "Travel to Daegu",
        href: "/information/travel",
      },
      {
        name: "Accommodation",
        href: "/information/accommodation",
      },
    ],
  },
  {
    name: "Attend",
    href: "/attend/registration",
    hover: [
      {
        name: "Registration",
        href: "/attend/registration",
      },
      {
        name: "Visa Information",
        href: "/attend/visa-information",
      },
    ],
  },
  { name: "Sponsors", href: "/sponsors" },
];

const { className } = Astro.props;
---

<ul
  class={"relative hidden divide-y-2 border-y-2 my-4 border-white overflow-y-scroll lg:overflow-visible divide-white lg:my-0 lg:border-0 lg:divide-none grow flex-col items-center justify-end font-bold text-white lg:top-0 lg:flex lg:flex-row lg:gap-6 " +
    className}
>
  {
    navItems.map((item) => {
      return (
        <li class="group relative w-full px-6 py-6 text-xl lg:w-auto lg:px-0 lg:py-3">
          <a class="hover:underline" href={item.href}>
            {item.name}
          </a>
          <HoverNavItems itemHover={item.hover} />
        </li>
      );
    })
  }
</ul>
