---
export type PostProps = {
  title: string;
  href: string;
};
export type Props = {
  title: string;
  posts: Array<PostProps>;
  href: string;
};

const { href, title, posts } = Astro.props;
---

<div
  class="link-card overflow-hidden rounded-lg shadow-lg outline-neutral-200 transition-all duration-500 ease-out hover:shadow-2xl hover:outline hover:outline-2"
>
  <a
    class="group block bg-primary px-6 py-4 text-2xl font-semibold text-neutral-100"
    href={href}
    class="group"
  >
    <div
      class="flex origin-left flex-row gap-2 transition-transform duration-150 ease-out active:scale-110 group-focus-within:scale-110 group-hover:scale-110 group-focus:scale-110"
    >
      <h2 class="">
        {title}
      </h2>
      <span>&rarr;</span>
    </div>
  </a>
  <ul class="divide-y-2 divide-neutral-300 py-1 px-3 text-sm">
    {
      posts.map((post) => (
        <li class="py-3 px-3 transition-all duration-100 ease-in-out focus-within:font-bold focus-within:underline hover:font-bold hover:underline focus:font-bold focus:underline active:font-bold active:underline">
          <a href={post.href}>
            <p class="truncate ">{post.title}</p>
          </a>
        </li>
      ))
    }
  </ul>
</div>
