---
import type { ContentProps } from "../pages/index.astro";

export type Props = {
  title: string;
  contents: Array<ContentProps>;
};

const { title, contents } = Astro.props;
---

<div
  class="link-card overflow-hidden rounded-lg shadow-lg transition-shadow duration-500 ease-out hover:shadow-2xl"
>
  <header
    class="group block bg-primary px-6 py-4 text-2xl font-semibold text-neutral-100"
  >
    <div
      class="flex origin-left flex-row gap-2 transition-transform duration-150 ease-out group-focus-within:scale-110 group-hover:scale-110 group-focus:scale-110 group-active:scale-110"
    >
      <h2>
        {title}
      </h2>
    </div>
  </header>
  <div class="divide-y-2 divide-neutral-300 bg-white py-2 px-3 text-sm">
    {
      contents.map((content) => (
        <div class="flex flex-col gap-2 px-2 py-4">
          <div class="text-lg font-semibold uppercase text-neutral-600">
            {content.left}
          </div>
          <div class="text-3xl">
            {typeof content.right === "string" ? (
              content.right
            ) : (
              <div class="flex flex-row gap-2">
                <div class="w-fit">{content.right[0]}</div>-
                <div class="w-fit">{content.right[1]}</div>
              </div>
            )}
          </div>
        </div>
      ))
    }
  </div>
</div>
