---
export type PostProps = {
  title: string;
  href: string;
};
export type Props = {
  title: string;
  posts: Array<PostProps>;
  href: string;
};

const { href, title, posts } = Astro.props;
---

<div class="link-card overflow-hidden rounded-lg shadow-lg">
  <a
    class="group block bg-primary px-6 py-4 text-2xl font-semibold text-neutral-100"
    href={href}
    class="group"
  >
    <div
      class="flex origin-left flex-row gap-2 transition-transform duration-300 ease-out group-focus-within:scale-125 group-hover:scale-125 group-focus:scale-125"
    >
      <h2 class="">
        {title}
      </h2>
      <span>&rarr;</span>
    </div>
  </a>
  <ul class="divide-y-2 divide-neutral-300 py-3 px-3">
    {
      posts.map((post) => (
        <li class="transition-colors duration-300 ease-out focus-within:bg-neutral-200 hover:bg-neutral-200 focus:bg-neutral-200 active:bg-neutral-400">
          <a href={post.href}>
            <p class="truncate py-3 px-3 focus-within:underline hover:underline focus:underline">
              {post.title}
            </p>
          </a>
        </li>
      ))
    }
  </ul>
</div>
