---
import ProfilesOrList from "./Profile/ProfilesOrList.astro";
import committee from "./Profile/profiles";
---

{
  committee.map((chair) => {
    return (
      <>
        <section>
          <h3 class="mt-6 mb-4 text-2xl font-bold sm:mt-8 sm:text-3xl">
            {chair.roll}
          </h3>
          <ProfilesOrList {...chair} />
        </section>
      </>
    );
  })
}
