---
import committee from "./Profile/profiles";
import Profiles from "./Profile/Profiles.astro";
---

{
  committee.map((chair) => {
    return (
      <>
        <h3 class="mx-auto mt-8 mb-6 max-w-2xl text-3xl font-bold sm:mt-8 sm:text-3xl">
          {chair.roll}
        </h3>
        <Profiles {...chair} />
      </>
    );
  })
}
