---
import { Image } from "@astrojs/image/components";
---

<footer
  class="relative bg-neutral-800 px-4 py-8 text-sm text-neutral-100 md:px-6"
>
  <div class="mx-auto grid max-w-5xl grid-cols-1 gap-6 lg:grid-cols-2">
    <section class="flex flex-row flex-wrap gap-4 gap-y-2 font-semibold">
      <a class="text-primary">Privacy Policy</a>
      <a>Cookie Policy</a>
      <a>Email</a>
      <a>Contact Us</a>
    </section>
    <section class="flex flex-col gap-4 gap-y-2 sm:flex-row lg:justify-end">
      <span class="block font-semibold">Sponsors</span>
      <div
        class="flex flex-row flex-wrap items-center gap-4 gap-y-2 px-2 sm:px-0"
      >
        <Image
          format="webp"
          height="16"
          width="75"
          src="etri.png"
          alt="etri logo"
          class="h-4"
        />
        <Image
          format="webp"
          height="16"
          width="75"
          src="knu.png"
          alt="knu logo"
          class="h-5"
        />
        <Image
          format="webp"
          height="16"
          width="90"
          src="daegu.png"
          alt="daegu logo"
          class="h-5"
        />
        <Image
          format="webp"
          height="16"
          width="80"
          src="kmu.png"
          alt="kmu ai fusion research institute"
          class="h-6"
        />
      </div>
    </section>
    <section class="flex flex-row flex-wrap gap-4 gap-y-2 lg:col-span-2">
      <span>Address | TBA</span>
      <span>Tel | TBA</span>
      <span>Fax | TBA</span>
    </section>
    <span class="block text-neutral-600"
      >COPYRIGHT © AVSS 2023. All Rights Reserved</span
    >
  </div>
</footer>
