---
---

<footer
  class="relative bg-neutral-800 px-4 py-8 text-sm text-neutral-100 md:px-6"
>
  <div class="mx-auto grid max-w-5xl grid-cols-1 gap-6 md:grid-cols-2">
    <section class="flex flex-row flex-wrap gap-4 gap-y-2 font-semibold">
      <a class="text-primary">Privacy Policy</a>
      <a>Cookie Policy</a>
      <a>Email</a>
      <a>Contact Us</a>
    </section>
    <section class="flex flex-row items-center gap-4 gap-y-2 md:justify-end">
      <span class="font-semibold">Sponsors</span>
      <img src="etri.png" alt="etri logo" class="h-4" />
      <img src="knu.png" alt="knu logo" class="h-5" />
      <img src="daegu.png" alt="daegu logo" class="h-5" />
    </section>
    <section class="flex flex-row flex-wrap gap-4 gap-y-2 md:col-span-2">
      <span>Address | 대구 동구 송라로16길 61 신천3동 30-7</span>
      <span>Tel | 053-382-4288</span>
      <span>Fax | 053-382-4286</span>
    </section>
    <span class="block text-neutral-600"
      >COPYRIGHT © AVSS 2023. All Rights Reserved</span
    >
  </div>
</footer>
