---
---

<section class="relative isolate">
  <div class="absolute -z-20 w-full bg-gray-800">
    <div
      class="bg-gradient-to-b from-transparent via-transparent to-gray-100 absolute inset-0"
    >
    </div>
    <img
      src="/hero-solid.png"
      alt="Photo of Daegu City"
      class="max-h-[900px] w-full object-cover h-[90vh]"
    />
  </div>
  <div class="mx-auto w-fit pt-24 md:pt-28">
    <div
      class="rounded-lg flex flex-col items-center justify-center backdrop-blur p-4 overflow-hidden bg-black/10"
    >
      <img
        src="/hero-logo.png"
        alt="logo of AVSS 2023 daegu"
        class="inline mx-auto my-auto w-40 object-contain drop-shadow-2xl md:w-56 h-[123.79px] md:h-[173.31px]"
      />
      <p
        class="inline text-3xl text-white tracking-[0.4rem] font-bold translate-x-[0.1rem] pt-1 md:text-[3rem] md:tracking-[0.3rem] md:pt-3 w-min"
      >
        <span class="tracking-wide">S</span><span>.KORE</span><span
          class="tracking-wide">A</span
        >
      </p>
    </div>
  </div>
  <div class="mx-auto max-w-lg px-4 pt-8 md:max-w-3xl">
    <div class="backdrop-blur flex p-2 bg-black/10 rounded-lg">
      <div class="w-8 border-4 border-r-0 border-white"></div>
      <div
        class="flex-grow py-2 px-4 text-center text-lg text-white md:py-6 md:text-[2rem] md:leading-9 font-medium"
      >
        <p class="block">The 19<sup>th</sup> International Conference on</p>
        <p class="block">Advanced Video and</p>
        <p class="block">Signal-Based Surveillance</p>
      </div>
      <div class="w-8 border-4 border-l-0 border-white"></div>
    </div>
  </div>
</section>
