---
---

<section class="relative isolate">
  <div
    class="absolute inset-0 isolate -z-10 h-[70vh] max-h-[900px] bg-gradient-to-b from-transparent via-transparent to-gray-100 lg:h-[90vh]"
  >
  </div>
  <img
    src="/hero-solid.png"
    alt="Photo of Daegu City"
    class="absolute -z-20 h-[70vh] max-h-[900px] w-full bg-gray-800 object-cover lg:h-[90vh]"
  />
  <img
    src="/hero-logo.png"
    alt="logo of AVSS 2023 daegu"
    class="mx-auto my-auto w-40 object-contain pt-28 drop-shadow-2xl lg:w-64"
  />
  <div class="mx-auto flex max-w-xl px-4 pt-8 drop-shadow lg:max-w-4xl">
    <div class="w-8 border-4 border-r-0 border-white"></div>
    <div
      class="flex-grow py-4 px-2 text-center text-md text-white lg:py-8 lg:text-2xl"
    >
      <p class="block">The 19th International Conference</p>
      <p class="block">on Advanced Video and Signal-Based Surveillance</p>
    </div>
    <div class="w-8 border-4 border-l-0 border-white"></div>
  </div>
</section>
