---
---

<section class="relative">
  <img
    src="/hero.png"
    alt="Photo of Daegu in Red"
    class="h-[55vh] max-h-[550px] w-full translate-x-3 scale-110 object-cover"
  />
  <img
    src="/hero-logo.png"
    alt="logo of AVSS 2023 daegu"
    class="absolute right-0 left-0 bottom-8 mx-auto my-auto h-2/3 w-2/3 object-contain"
  />
</section>
