---
import MenuIcon from "./MenuIcon.astro";
---

<nav
  class="navbar mx-auto flex w-full max-w-7xl flex-col px-10 py-4 lg:flex-row"
>
  <div class="flex items-center justify-between">
    <div
      class="w-20 flex-shrink-0 rounded-lg p-2 outline-neutral-200 transition-shadow duration-300 ease-in-out hover:shadow-lg hover:outline"
    >
      <a href="/">
        <img src="/logo.png" />
      </a>
    </div>
    <div
      data-open="false"
      class="menu-btn h-10 w-10 cursor-pointer rounded-lg p-1 outline-neutral-200 transition-shadow duration-300 ease-in-out hover:shadow-lg hover:outline"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="close-icon hidden h-8 w-8 text-primary lg:hidden"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M6 18L18 6M6 6l12 12"></path>
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        class="menu-icon h-8 w-8 text-primary lg:hidden"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </div>
  </div>
  <ul
    class="navlist hidden grow flex-col items-center justify-end gap-6 font-bold text-primary lg:flex lg:flex-row"
  >
    <li data-item="1">
      <a class="hover:underline" href="news">News</a>
    </li>
    <li data-item="2">
      <a class="hover:underline" href="organization">Organization</a>
    </li>
    <li data-item="3">
      <a class="hover:underline" href="program">Program</a>
    </li>
    <li data-item="4">
      <a class="hover:underline" href="calls">Calls</a>
    </li>
    <li data-item="5">
      <a class="hover:underline" href="submission">Submission</a>
    </li>
    <li data-item="6">
      <a class="hover:underline" href="information">Information</a>
    </li>
    <li data-item="7">
      <a class="hover:underline" href="attend">Attend</a>
    </li>
    <li data-item="8">
      <a class="hover:underline" href="sponsors">Sponsors</a>
    </li>
    <li data-item="9">
      <a class="hover:underline" href="contact">Contact</a>
    </li>
  </ul>

  <script>
    const navbar = document.querySelector(".navbar") as HTMLElement;
    const navList = document.querySelector(".navlist") as HTMLElement;
    const menuBtn = document.querySelector(".menu-btn") as HTMLElement;
    const menuIcon = document.querySelector(".menu-icon") as HTMLElement;
    const closeIcon = document.querySelector(".close-icon") as HTMLElement;
    const listItems = document.querySelectorAll(
      "[data-item]"
    ) as NodeListOf<HTMLElement>;
    const isOpen = () => menuBtn.dataset.open;

    menuBtn.addEventListener("click", () => {
      menuBtn.dataset.open = isOpen() === "false" ? "true" : "false";

      // show closeIcon
      if (isOpen() === "true") {
        menuIcon.classList.add("disappear");
        navbar.classList.add("blur-in");
      } else {
        closeIcon.classList.add("disappear");
        navList.classList.add("rollup");
      }
    });

    navbar.addEventListener("animationend", (e) => {
      if (e.animationName === "blur") {
        if (isOpen() === "true") {
          navbar.classList.remove("blur-in");
          navbar.classList.add("backdrop-blur");
          navbar.classList.add("bg-neutral-100/80");

          navList.classList.add("flex");
          navList.classList.remove("hidden");
          navList.classList.add("rolldown");
          listItems.forEach((item) => {
            item.classList.add("appear");
          });
        } else {
          navbar.classList.remove("blur-out");
          navbar.classList.remove("backdrop-blur");
          navbar.classList.remove("bg-neutral-100/80");
        }
      }
    });

    navList.addEventListener("animationend", (e) => {
      if (e.animationName === "rolldown") {
        if (isOpen() === "true") {
          navList.classList.remove("rolldown");
        } else {
          navList.classList.remove("rollup");
          navList.classList.add("hidden");
          navList.classList.remove("flex");

          navbar.classList.add("blur-out");
        }
      }
    });

    menuIcon.addEventListener("animationend", () => {
      if (isOpen() === "true") {
        menuIcon.classList.add("hidden");
        closeIcon.classList.remove("hidden");
        closeIcon.classList.add("appear");
      }
      menuIcon.classList.remove("appear");
      menuIcon.classList.remove("disappear");
      closeIcon.classList.remove("disappear");
    });

    closeIcon.addEventListener("animationend", () => {
      if (isOpen() === "false") {
        closeIcon.classList.add("hidden");
        menuIcon.classList.remove("hidden");
        menuIcon.classList.add("appear");
      }
      closeIcon.classList.remove("appear");
      closeIcon.classList.remove("disappear");
      menuIcon.classList.remove("disappear");
    });
  </script>
</nav>

<style>
  @keyframes appear {
    0% {
      display: none;
      scale: 0.8;
      opacity: 0;
    }
    10% {
      display: block;
      scale: 0.8;
      opacity: 0;
    }
    90% {
      scale: 1.1;
      opacity: 1;
    }
    100% {
      scale: 1;
      opacity: 1;
    }
  }
  @keyframes rolldown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    80% {
      opacity: 0.8;
      transform: translateY(5px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes blur {
    0% {
      background-color: inherit;
      backdrop-filter: blur(0px);
      height: 100px;
    }
    100% {
      background-color: rgba(245, 245, 245, 0.8);
      backdrop-filter: blur(8px);
      height: 510px;
    }
  }

  .appear {
    animation: appear 0.1s ease-in forwards;
  }
  .disappear {
    animation: appear 0.1s ease-in reverse forwards;
  }
  .blur-in {
    animation: blur 0.2s ease forwards;
  }
  .blur-out {
    animation: blur 0.2s ease reverse forwards;
  }
  .rolldown {
    animation: rolldown 0.2s ease-in forwards;
  }
  .rollup {
    animation: rolldown 0.2s ease-in reverse forwards;
  }
</style>
