---
import { Image } from "@astrojs/image/components";
import CloseIcon from "./NavBar/CloseIcon.astro";
import MenuIcon from "./NavBar/MenuIcon.astro";

interface NavItem {
  name: string;
  href: string;
  hover?: NavItem[];
}

const navItems: NavItem[] = [
  { name: "News", href: "news" },
  { name: "Organization", href: "organization" },
  { name: "Program", href: "program" },
  {
    name: "Calls",
    href: "calls",
    hover: [
      {
        name: "Call For Papers",
        href: "call-for-papers",
      },
      {
        name: "Call For Workshops",
        href: "call-for-workshops",
      },
      {
        name: "Call For Tutorials",
        href: "call-for-tutorials",
      },
    ],
  },
  { name: "Submission", href: "submission" },
  { name: "Information", href: "information" },
  { name: "Attend", href: "attend" },
  { name: "Sponsors", href: "sponsors" },
  { name: "Contact", href: "contact" },
];
---

<nav
  class="navbar mx-auto flex w-full max-w-5xl flex-col px-6 py-4 lg:flex-row"
>
  <div class="flex items-center justify-between">
    <a
      href="/"
      class="z-10 w-fit flex-shrink-0 rounded-lg p-2 outline-neutral-200 transition-shadow duration-300 ease-in-out hover:shadow-lg hover:outline"
    >
      <Image
        src="/favicon.svg"
        alt="logo of AVSS 2023"
        width={36}
        height={36}
        aspectRatio={1}
        format="svg"
        quality={100}
      />
    </a>
    <div
      data-open="false"
      class="menu-btn z-10 h-10 w-10 cursor-pointer rounded-lg p-1 text-white outline-neutral-200 transition-shadow duration-300 ease-in-out hover:shadow-lg hover:outline lg:hidden"
    >
      <CloseIcon className="close-icon hidden h-8 w-8 lg:hidden" />
      <MenuIcon className="menu-icon h-8 w-8 lg:hidden" />
    </div>
  </div>
  <ul
    class="navlist relative -top-12 hidden grow flex-col items-center justify-end font-bold text-white lg:top-0 lg:flex lg:flex-row lg:gap-6"
  >
    <li data-item="1" class="py-3">
      <a class="hover:underline" href="news">News</a>
    </li>
    <li data-item="2" class="py-3">
      <a class="hover:underline" href="organization">Organization</a>
    </li>
    <li data-item="3" class="py-3">
      <a class="hover:underline" href="program">Program</a>
    </li>
    <li data-item="4" class="group relative py-3">
      <a class="hover:underline" href="calls">Calls</a>
      <div
        class="opacity-0 transition-opacity duration-200 ease-out group-hover:opacity-100"
      >
        <ul
          class="absolute top-12 left-12 hidden w-56 -translate-x-1/2 gap-2 rounded-lg border-2 bg-black/80 px-4 py-3 shadow-lg group-hover:block"
        >
          <li data-item="4.1" class="my-2">
            <a class="hover:underline" href="calls"> Call For Papers</a>
          </li>
          <li data-item="4.2" class="my-2">
            <a class="hover:underline" href="calls"> Call For Workshops</a>
          </li>
          <li data-item="4.3" class="my-2">
            <a class="hover:underline" href="calls"> Call For Tutorials</a>
          </li>
        </ul>
      </div>
    </li>
    <li data-item="5" class="py-3">
      <a class="hover:underline" href="submission">Submission</a>
    </li>
    <li data-item="6" class="py-3">
      <a class="hover:underline" href="information">Information</a>
    </li>
    <li data-item="7" class="py-3">
      <a class="hover:underline" href="attend">Attend</a>
    </li>
    <li data-item="8" class="py-3">
      <a class="hover:underline" href="sponsors">Sponsors</a>
    </li>
    <li data-item="9" class="py-3">
      <a class="hover:underline" href="contact">Contact</a>
    </li>
  </ul>

  <script>
    const navbar = document.querySelector(".navbar") as HTMLElement;
    const navList = document.querySelector(".navlist") as HTMLElement;
    const menuBtn = document.querySelector(".menu-btn") as HTMLElement;
    const menuIcon = document.querySelector(".menu-icon") as HTMLElement;
    const closeIcon = document.querySelector(".close-icon") as HTMLElement;
    /* const listItems = document.querySelectorAll(
      "[data-item]"
    ) as NodeListOf<HTMLElement>; */
    const isOpen = () => menuBtn.dataset.open;

    const resetAnimation = () => {
      menuIcon.classList.remove("disappear", "appear");
      closeIcon.classList.remove("disappear", "appear");
      navbar.classList.remove("blur-in", "blur-out");
    };

    const toggleOpenState = () => {
      resetAnimation();

      // the only dependency of this animation is isOpen state
      menuBtn.dataset.open = isOpen() === "false" ? "true" : "false";

      if (isOpen() === "true") menuIcon.classList.add("disappear");
      else closeIcon.classList.add("disappear");
    };

    const menuIconAnimation = () => {
      if (isOpen() === "true") {
        menuIcon.classList.add("hidden");
        closeIcon.classList.remove("hidden");
        closeIcon.classList.add("appear");
        navbar.classList.add("blur-in");
      }
      menuIcon.classList.remove("disappear", "appear");
      closeIcon.classList.remove("disappear");
    };

    const closeIconAnimation = () => {
      if (isOpen() === "false") {
        closeIcon.classList.add("hidden");
        menuIcon.classList.remove("hidden");
        menuIcon.classList.add("appear");
        navList.classList.add("fade-out");
      }
      closeIcon.classList.remove("disappear", "appear");
      menuIcon.classList.remove("disappear");
    };

    const navbarAnimation = (e: AnimationEvent) => {
      if (e.animationName === "blur") {
        if (isOpen() === "true") {
          navbar.classList.add("backdrop-blur", "bg-neutral-800/80");
          navList.classList.add("flex", "fade-in");
          navList.classList.remove("hidden");
        } else {
          navbar.classList.remove(
            "blur-out",
            "backdrop-blur",
            "bg-neutral-800/80"
          );
        }
      }
    };

    const navListAnimation = (e: AnimationEvent) => {
      if (e.animationName === "fade") {
        if (isOpen() === "true") {
        } else {
          navList.classList.add("hidden");
          navList.classList.remove("flex");
          navbar.classList.add("blur-out");
        }
        navList.classList.remove("fade-in", "fade-out");
      }
    };

    menuBtn.addEventListener("click", toggleOpenState);
    menuIcon.addEventListener("animationend", menuIconAnimation);
    closeIcon.addEventListener("animationend", closeIconAnimation);
    navbar.addEventListener("animationend", navbarAnimation);
    navList.addEventListener("animationend", navListAnimation);
  </script>
</nav>

<style>
  @keyframes appear {
    0% {
      display: none;
      scale: 0.8;
      opacity: 0;
    }
    10% {
      display: block;
      scale: 0.8;
      opacity: 0;
    }
    90% {
      scale: 1.1;
      opacity: 1;
    }
    100% {
      scale: 1;
      opacity: 1;
    }
  }
  @keyframes blur {
    0% {
      background-color: inherit;
      backdrop-filter: blur(0px);
      height: 100px;
    }
    100% {
      background-color: #262626cc;
      backdrop-filter: blur(8px);
      height: 516px;
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .appear {
    animation: appear 0.2s ease-in forwards;
  }
  .disappear {
    animation: appear 0.2s ease-in reverse forwards;
  }
  .blur-in {
    animation: blur 0.2s ease forwards;
  }
  .blur-out {
    animation: blur 0.2s ease reverse forwards;
  }
  .fade-in {
    animation: fade 0.2s ease forwards;
  }
  .fade-out {
    animation: fade 0.1s ease reverse forwards;
  }
</style>
