---
import { Image } from "@astrojs/image/components";
import CloseIcon from "./NavBar/CloseIcon.astro";
import MenuIcon from "./NavBar/MenuIcon.astro";
import NavItems from "./NavBar/NavItems.astro";
---

<nav
  class="navbar mx-auto flex w-full max-w-5xl flex-col px-6 py-4 lg:flex-row"
>
  <div class="flex items-center justify-between">
    <a
      href="/"
      class="z-10 w-fit flex-shrink-0 rounded-lg p-2 outline-neutral-200 transition-shadow duration-300 ease-in-out hover:shadow-lg hover:outline"
    >
      <Image
        src="/favicon.svg"
        alt="logo of AVSS 2023"
        width={36}
        height={36}
        aspectRatio={1}
        format="svg"
        quality={100}
      />
    </a>
    <div
      data-open="false"
      class="menu-btn z-10 h-10 w-10 cursor-pointer rounded-lg p-1 text-white outline-neutral-200 transition-shadow duration-300 ease-in-out hover:shadow-lg hover:outline lg:hidden"
    >
      <CloseIcon className="close-icon hidden h-8 w-8 lg:hidden" />
      <MenuIcon className="menu-icon h-8 w-8 lg:hidden" />
    </div>
  </div>

  <NavItems className="navlist" />

  <script>
    const navbar = document.querySelector(".navbar") as HTMLElement;
    const navList = document.querySelector(".navlist") as HTMLElement;
    const menuBtn = document.querySelector(".menu-btn") as HTMLElement;
    const menuIcon = document.querySelector(".menu-icon") as HTMLElement;
    const closeIcon = document.querySelector(".close-icon") as HTMLElement;

    const isOpen = () => menuBtn.dataset.open;

    const resetAnimation = () => {
      menuIcon.classList.remove("disappear", "appear");
      closeIcon.classList.remove("disappear", "appear");
      navbar.classList.remove("blur-in", "blur-out");
      navList.classList.remove("fade-in", "fade-out");
    };

    const toggleOpenState = () => {
      // the only dependency of this animation is isOpen state
      menuBtn.dataset.open = isOpen() === "false" ? "true" : "false";

      if (isOpen() === "true") {
        menuIcon.classList.add("hidden");
        closeIcon.classList.remove("hidden");

        navbar.classList.remove("blur-out");
        navbar.classList.add("blur-in");
        navList.classList.remove("hidden");
      }
      else {
        closeIcon.classList.add("hidden");
        menuIcon.classList.remove("hidden");

        navbar.classList.remove("blur-in");
        navbar.classList.add("blur-out");
        navList.classList.add("hidden");
      }
    };

    menuBtn.addEventListener("click", toggleOpenState);
  </script>
</nav>

<style>
  @keyframes appear {
    0% {
      display: none;
      scale: 0.8;
      opacity: 0;
    }
    10% {
      display: block;
      scale: 0.8;
      opacity: 0;
    }
    90% {
      scale: 1.1;
      opacity: 1;
    }
    100% {
      scale: 1;
      opacity: 1;
    }
  }
  @keyframes blur {
    0% {
      height: 100px;
      background-color: inherit;
      backdrop-filter: blur(0px);
    }
    100% {
      background-color: #262626cc;
      backdrop-filter: blur(8px);
      height: 100vh;
      height: 100svh;
    }
  }
  @keyframes fade {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .appear {
    opacity: 1;
  }
  .disappear {
    opacity: 0;
  }
  .blur-in {
    background-color: #262626cc;
    backdrop-filter: blur(8px);
    height: 100vh;
    height: 100svh;
  }
  .blur-out {
    background-color: inherit;
    backdrop-filter: blur(0px);
  }
  .fade-in {
    opacity: 1;
  }
  .fade-out {
    opacity: 0;
  }
</style>
