---
---

<nav class="flex w-full flex-col lg:flex-row">
  <div
    class="w-20 flex-shrink-0 rounded-lg p-2 outline-neutral-200 transition-shadow duration-300 ease-in-out hover:shadow-lg hover:outline"
  >
    <a href="/">
      <img src="/logo.png" />
    </a>
  </div>
  <ul
    class="hidden grow flex-col items-center justify-end gap-6 font-bold text-primary lg:flex lg:flex-row"
  >
    <li><a href="news">News</a></li>
    <li><a href="organization">Organization</a></li>
    <li><a href="program">Program</a></li>
    <li><a href="calls">Calls</a></li>
    <li><a href="submission">Submission</a></li>
    <li><a href="information">Information</a></li>
    <li><a href="attend">Attend</a></li>
    <li><a href="sponsors">Sponsors</a></li>
    <li><a href="contact">Contact</a></li>
  </ul>
</nav>
