---
import Heading3 from "./Tags/Heading3.astro";
import Paragraph from "./Tags/Paragraph.astro";

type Post = {
  title: string;
  date: string;
  content: string;
};

const { title, date, content } = Astro.props as Post;
---

<div class="pb-4">
  <Heading3 title={title} />
  <p class="text-neutral-400">{date}</p>
  <Paragraph>{content}</Paragraph>
</div>
