---
import { Image } from "@astrojs/image/components";
---

<figure class="mix-blend-multiply">
  <h3 id="sponsors" class="mt-8 mb-6 text-3xl font-bold">Sponsors</h3>
  <div class="flex flex-row flex-wrap justify-evenly gap-2">
    <Image
      src="/IEEE-SPS.png"
      alt="IEEE SPS"
      height={140}
      width={198}
      format="webp"
    />
  </div>
</figure>
