---
import MainHeader from "../../components/MainHeader.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Accommodation :: AVSS2023" meta="">
  <MainHeader metaTitle="Information" title="Accommodation" />
  <section class="mx-auto mt-4 max-w-2xl text-lg"></section>
</Layout>
