---
import MainHeader from "../../components/MainHeader.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Travel To Daegu :: AVSS2023" meta="">
  <MainHeader metaTitle="Information" title="Travel To Daegu" />
  <section class="mx-auto mt-4 max-w-2xl text-lg"></section>
</Layout>
