---
import MainHeader from "../../components/Tags/MainHeader.astro";
import Section from "../../components/Tags/Section.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Attend :: AVSS2023">
  <MainHeader metaTitle="Attend" title="Attend" />
  <Section>TBA</Section>
</Layout>
