---
import MainHeader from "../../components/MainHeader.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Attend :: AVSS2023">
  <MainHeader metaTitle="Attend" title="Attend" />
  <section class="mx-auto mt-4 max-w-2xl text-lg">TBA</section>
</Layout>
