---
import MainHeader from "../../components/Tags/MainHeader.astro";
import Heading3 from "../../components/Tags/Heading3.astro";
import Heading4 from "../../components/Tags/Heading4.astro";
import List from "../../components/Tags/List.astro";
import Paragraph from "../../components/Tags/Paragraph.astro";
import Table, { Row } from "../../components/Tags/Table.astro";
import UList from "../../components/Tags/UList.astro";
import Layout from "../../layouts/Layout.astro";
import Section from "../../components/Tags/Section.astro";

const Rates: Row[] = [
  {
    items: ["Category", "Early Registration", "Standard Registration"],
    title: true,
  },
  {
    items: ["IEEE Member", "USD $850", "USD $1,300"],
  },
  {
    items: ["Non-IEEE Member", "USD $1,020", "USD $1,560"],
  },
  {
    items: ["Student IEEE Member", "USD $510", "USD $780"],
  },
  {
    items: ["Student Non-IEEE Member", "USD $615", "USD $940"],
  },
  {
    items: ["IEEE Life Member", "USD $470", "USD $715"],
  },
];

const InPerson: Row[] = [
  {
    items: ["Category", "Early Registration", "Standard Registration"],
    title: true,
  },
  {
    items: ["IEEE & SPS Member", "USD $700", "USD $850"],
  },
  {
    items: ["Non-IEEE Member", "USD $850", "USD $1,000"],
  },
  {
    items: ["Student IEEE & SPS Member", "USD $350", "USD $400"],
  },
  {
    items: ["Student Non-IEEE Member", "USD $450", "USD $500"],
  },
  {
    items: ["IEEE Life Member", "USD $350", "USD $350"],
  },
];

const Virtual: Row[] = [
  {
    items: ["Category", "Early Registration", "Standard Registration"],
    title: true,
  },
  {
    items: ["IEEE & SPS Member", "USD $150", "USD $150"],
  },
  {
    items: ["Non-IEEE Member", "USD $200", "USD $200"],
  },
  {
    items: ["Student IEEE & SPS Member", "USD $75", "USD $75"],
  },
  {
    items: ["Student Non-IEEE Member", "USD $100", "USD $100"],
  },
  {
    items: ["IEEE Life Member", "USD $75", "USD $75"],
  },
];
---

<Layout title="Registration :: AVSS2023">
  <MainHeader metaTitle="Attend" title="Registration" />
  <Section>
    <Heading3 title="Registration Fee" />
    <Heading4 title="Registration Page" />
    <Paragraph>TBD</Paragraph>

    <Heading4 title="Early Registration" />
    <Paragraph>TBD</Paragraph>

    <Paragraph>
      All registration fee is estimated in USD, but transaction will be done in
      South Korean Won (KRW) <strong>(TBD)</strong>
    </Paragraph>

    <Paragraph>
      Please read the following for rate categories, rules (for authors of
      accepted papers), and policies.
    </Paragraph>

    <Heading4 title="Rate" />
    <Table rows={Rates} />

    <Heading4 title="In-Person Registration" />
    <Table rows={InPerson} />

    <Heading4 title="Virtual Registration" />
    <Table rows={Virtual} />

    <Heading3 title="Rules" />
    <UList>
      <List>Each conference attendee must be registered.</List>
      <List>
        Every paper accepted by a technical meeting sponsored by the <a
          href="https://signalprocessingsociety.org/"
          target="_blank"
          class="fancy">IEEE Signal Processing Society</a
        > to present at AVSS must have at least one registration at the <strong
          >FULL member/non-member rate</strong
        >. <br />Thus, for a manuscript for which all authors are students, one
        student author will be required to register at the full registration
        rate. One person can register multiple papers as long as that person is
        a co-author on each of the papers.
      </List>
      <List>
        Registration entitles the attendee to technical sessions, workshops,
        coffee breaks, welcome reception, conference banquet, city tours, as
        well as conference materials and electronic conference proceedings.
      </List>
      <List>
        <strong>IEEE Membership</strong>: You must be an IEEE Member at the time
        of registration to receive the IEEE member discount. For IEEE Member,
        you must put in your valid IEEE Membership number in your registration.
        Please visit <a
          href="https://www.ieee.org/membership/join/index.html"
          target="_blank"
          class="fancy">ieee.org/join</a
        > for the steps to join IEEE. We encourage you to do so if you are not an
        IEEE member.
      </List>
      <List>
        <strong>Forms of payment</strong>: Only on-line registration is
        accepted. Registration payments must be received by the registration
        deadline for the rate at which you registered; if payment is not
        received by the deadline, you will be responsible for the higher rate.
      </List>
      <List>
        <strong>Workshop authors</strong>: A full registration is mandatory for
        each accepted workshop paper. Note some workshop has late paper
        notification and camera-ready deadlines. So workshop authors please
        ensure to finish registration by the early registration <strong
          >deadline of August 27.</strong
        >.
      </List>
      <List>
        Papers which are not presented at the conference will be excluded from
        the official proceedings and will not appear in IEEE Xplore. It is,
        therefore, critical that at least one author of this paper attend the
        conference to present the work.
      </List>
    </UList>

    <Heading3 title="Policies" />
    <UList>
      <List>
        <strong>Refund Policy</strong>: All refund requests must be made via
        email with a written statement of withdrawal to <strong>TBD</strong>.
        All cancellations will be subject to a <strong>USD$50</strong> cancellation
        fee before <strong>TBD</strong>. NO REFUNDS will be made after <strong
          >TBD</strong
        >.
      </List>
      <List>
        You are allowed to change the name on the registration without penalty.
      </List>
      <List>
        If on-line payment is not possible for you, please contact us (mailto:<strong
          >TBD</strong
        >) for wire transfer details. Steps including bank account number, will
        be emailed to you.
      </List>
      <List>
        If you have any questions about registration, please contact us via
        email to <strong>TBD</strong>.
      </List>
    </UList>
  </Section>
</Layout>
