---
import MainHeader from "../../components/Tags/MainHeader.astro";
import Paragraph from "../../components/Tags/Paragraph.astro";
import Section from "../../components/Tags/Section.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Visa Information :: AVSS2023">
  <MainHeader metaTitle="Attend" title="Visa Information" />
  <Section>
    <Paragraph>
      You may access <a
        href="http://english.visitkorea.or.kr/enu/TRV/TV_ENG_2_1.jsp"
        target="_blank"
        class="fancy">this website</a
      > to check if your country of departure requires you to apply for a Visa, or
      Korea Electronic Travel Authorization (K-ETA) to enter South Korea.
    </Paragraph>
    <Paragraph>
      For delegates who need to apply for a <strong>Visa</strong>, please send
      an email to <strong>TBD</strong> to request a ‘Letter of Invitation’ after
      purchasing your conference ticket. In the email, please include your Registration
      ID for verification. If you have not registered, you may register here (<strong
        >registration page: TBD</strong
      >). Thereafter, please proceed to the same website above to apply for the
      Tourist Visa.
    </Paragraph>
    <Paragraph>
      For delegates who do not need to apply for a Visa, you will need to apply
      for a <strong>K-ETA (Korea Electronic Travel Authorisation)</strong>.
      Please apply <a
        href="http://english.visitkorea.or.kr/enu/TRV/TV_ENG_2_1.jsp"
        target="_blank"
        class="fancy">here</a
      >. You must apply for the K-ETA and receive approval 72 hours prior to
      departure. You are strongly advised to apply for the K-ETA at least one
      week before your intended departure (K-ETA fee: KRW 10,000). It is valid
      for two years and can be used multiple times.
    </Paragraph>
    <Paragraph>
      Next, you would need to apply would be the Q-Code which is mandatory for
      all travelers. Apply for the <strong>Q-Code</strong> 72 hours prior to departure.
      <a
        href="http://english.visitkorea.or.kr/enu/TRV/TV_ENG_2_1.jsp"
        target="_blank"
        class="fancy">Click here</a
      > to apply. The QR code must be saved in your mobile phone, upon completion
      of the form, to be shown to Korean Immigration Officials upon arrival.
    </Paragraph>
  </Section>
</Layout>
