---
import MainHeader from "../../components/MainHeader.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Visa Information :: AVSS2023">
  <MainHeader metaTitle="Attend" title="Visa Information" />
  <section class="mx-auto mt-4 max-w-2xl text-lg">TBA</section>
</Layout>
