---
import { Image } from "@astrojs/image/components";
---

<footer
  class="relative bg-neutral-800 px-4 py-8 text-sm text-neutral-100 md:px-6"
>
  <div class="mx-auto grid max-w-5xl grid-cols-1 gap-6 lg:grid-cols-2">
    <section class="flex flex-row flex-wrap gap-4 gap-y-2 font-semibold">
      <a href="https://www.ieee.org/security-privacy.html" class="text-primary"
        >Privacy Policy</a
      >
      <a href="https://www.ieee.org/about/corporate/governance/p9-26.html"
        >Nondiscrimination Policy</a
      >
      <a href="https://www.ieee.org/about/help/site-terms-conditions.html"
        >Terms and Conditions</a
      >
    </section>
    <section class="flex flex-col gap-4 gap-y-2 sm:flex-row lg:justify-end">
      <span class="block font-semibold">Sponsors</span>
      <div
        class="flex flex-col items-center flex-wrap p-8 gap-4 sm:flex-row sm:p-0"
      >
        <Image
          height={48}
          width={200}
          src="/etri.png"
          alt="etri logo"
          class="h-12 w-auto sm:h-4"
          format="webp"
        />
        <Image
          height={80}
          width={300}
          src="/knu.png"
          alt="knu logo"
          class="h-12 w-auto sm:h-5"
          format="webp"
        />
        <Image
          height={60}
          width={300}
          src="/daegu.png"
          alt="daegu logo"
          class="h-12 w-auto sm:h-6"
          format="webp"
        />
        <Image
          height={40}
          width={160}
          src="/kmu.png"
          alt="kmu ai fusion research institute"
          class="h-12 w-auto sm:h-6"
          format="webp"
        />
      </div>
    </section>
    <section class="flex flex-row flex-wrap gap-4 gap-y-2 lg:col-span-2">
      <span>Address | TBA</span>
      <span>Tel | TBA</span>
      <span>Fax | TBA</span>
    </section>
    <div class="block max-w-4xl text-neutral-400 lg:col-span-2">
      <div>
        © Copyright 2023 IEEE – All rights reserved. Use of this website
        signifies your agreement to the IEEE Terms and Conditions.
      </div>
      <div>
        A not-for-profit organization, IEEE is the world’s largest technical
        professional organization dedicated to advancing technology for the
        benefit of humanity.
      </div>
    </div>
  </div>
</footer>
