---
import { Image } from "@astrojs/image/components";
---

<section class="relative isolate">
  <div class="absolute -z-20 w-full bg-gray-800">
    <div
      class="absolute inset-0 bg-gradient-to-b from-transparent via-transparent to-gray-100"
    >
    </div>
    <Image
      width={1280}
      height={720}
      fit="fill"
      src="/hero-solid.png"
      alt="Daegu"
      format="webp"
      class="w-full max-h-[720px] object-cover h-[90vh] h-[90svh]"
    />
  </div>
  <div class="mx-auto w-fit pt-24 md:pt-28">
    <div
      class="flex flex-col items-center justify-center overflow-hidden rounded-lg bg-black/10 p-4 backdrop-blur"
    >
      <Image
        width={250}
        height={193}
        src="/hero-logo.png"
        alt="AVSS 2023"
        fit="contain"
        format="webp"
        class="mx-auto my-auto inline h-[123.79px] w-40 object-contain drop-shadow-2xl md:h-[173.31px] md:w-56"
        quality={100}
      />
      <p
        class="inline w-min translate-x-[0.1rem] pt-1 text-3xl font-bold tracking-[0.4rem] text-white md:pt-3 md:text-[3rem] md:tracking-[0.3rem]"
      >
        <span class="tracking-wide">S</span><span>.KORE</span><span
          class="tracking-wide">A</span
        >
      </p>
    </div>
  </div>
  <div class="mx-auto max-w-lg px-4 pt-8 md:max-w-3xl">
    <div class="flex rounded-lg bg-black/10 p-2 backdrop-blur">
      <div class="w-8 border-4 border-r-0 border-white"></div>
      <div
        class="flex-grow py-2 px-4 text-center text-lg font-medium leading-6 text-white md:py-6 md:text-[1.5rem] md:leading-6"
      >
        <span class="block"
          >The 19<sup>th</sup> International Conference on</span
        >
        <span class="inline-block">Advanced Video and</span>
        <span class="inline-block">Signal-Based Surveillance</span>
        <span class="mt-2 block text-3xl md:text-[2rem]">Nov 6 - 9, 2023</span>
      </div>
      <div class="w-8 border-4 border-l-0 border-white"></div>
    </div>
  </div>
</section>
