---
import { GoogleAnalytics } from "astro-google-analytics";
import CookieConsent from "../components/CookieConsent.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import Hero from "./Hero.astro";
import SEONavigation from "../components/SEO/SEONavigation.astro";
import SEOOrganization from "../components/SEO/SEOOrganization.astro";

export interface Props {
  title: string;
  meta?: string;
}

const { title, meta } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image" href="/favicon.ico" />
    <GoogleAnalytics id="G-L93RZNFRF1" />
    <meta name="generator" content={Astro.generator} />
    {meta && <meta name="description" content={meta} />}
    <meta
      name="keywords"
      content="AVSS, AVSS2023, AVSS 2023, IEEE AVSS, IEEE AVSS2023, IEEE AVSS 2023, Advanced Video and Signal Based Surveillance, Surveillance"
    />
    <SEOOrganization />
    <SEONavigation />
    <title>{title}</title>
  </head>
  <body class="relative bg-gray-100">
    <header
      class="fixed right-0 top-0 left-0 z-20 flex flex-row items-center bg-gradient-to-b from-neutral-800/90 via-neutral-900/70 to-transparent"
    >
      <Header />
    </header>
    <section class="relative">
      <Hero />
    </section>
    <main
      class="isolate z-0 mx-auto mt-6 min-h-[300px] bg-gray-100/50 px-6 py-12 sm:px-6"
    >
      <slot />
    </main>
    <Footer />
    <CookieConsent />
    <style is:global>
      *,
      *::before,
      *::after {
        @apply m-0 box-border p-0;
      }
      html {
        scroll-behavior: smooth;
        scroll-padding-top: 200px;
      }

      :target {
        outline: rgb(236 72 153) solid 5px;
        outline-offset: 5px;
        z-index: 99999;
      }

      main {
        @apply min-h-full w-full bg-gray-100 text-gray-900;
        /* background-image: radial-gradient(rgba(55, 55, 55, 0.2) 9%, transparent 9%);
    background-position: 0% 0%;
    background-size: 2rem 2rem;
    position: absolute;
    left: 0px;
    top: 0px; */
      }
      a.fancy {
        @apply relative bg-gradient-to-l from-red-500 via-rose-500 to-pink-500 bg-clip-text font-semibold text-transparent;
        word-wrap: break-word;
      }
      a.fancy::after {
        content: "";
        @apply absolute left-0 bottom-0 h-0.5 w-full origin-left scale-x-0 bg-pink-500 bg-gradient-to-l from-red-500 via-rose-500 to-pink-500 transition-transform duration-300 ease-out;
      }
      a.fancy:hover::after {
        @apply scale-x-100;
      }
    </style>
  </body>
</html>
