---
---

<a href="#article" class="sr-only focus:not-sr-only"
  ><span
    class="absolute top-5 left-5 right-5 flex justify-center rounded-lg bg-yellow-400 py-4 text-4xl text-neutral-900"
    >Skip to content</span
  >
</a>
